extends ../layouts/base.pug

block defines
  - name = 'login';
  - title = 'OpenMRS ID - Sign in';
  - headline = 'Sign In with your OpenMRS ID <small>Don\'t have an OpenMRS ID yet? <a href="/signup">Sign up</a>.</small>';
  - sidebar = ['id-whatis'];
  - showSidebar = true;


block content
  div.panel
    form.validate#login-form(action='/login', method='post')
      input#redirect-to(type='hidden', name='destination')

      .row-item.form-group
        .input-wrapper.col-md-5
          input.required(type='text', name='loginusername',
                placeholder='OpenMRS ID/Email')
          label.error Forgot?

      .row-item.form-group.thin
        .input-wrapper.col-md-5
          input.required(type='password', name='loginpassword', placeholder='Password')
          label.error Forgot?

      .row-item.thin
        h5
          a(href='/reset') Forgot your password?

      div.row-item
        input.btn.btn-success.col-md-3(type='submit', value='Sign in')
