extends ../layouts/base

block defines
  - name = 'login';
  - title = 'OpenMRS ID - Sign in';
  - headline = 'Sign In with your OpenMRS ID <small>Don\'t have an OpenMRS ID yet? <a href="/signup">Sign up</a>.</small>';
  - sidebar = ['id-whatis'];
  - showSidebar = true;
  - fail = fail || {};
  - values = values || {};


block content
  div.panel
    form(action='/login', method='post')
      p <em></em>

      input#redirect-to(type='hidden', name='destination')

      div.row-item(class={fail: fail.loginusername},)
        input.col-md-5(type='text', name='loginusername',
              placeholder='OpenMRS ID/Email')
        span.description.failtext.
          A username must be supplied to log in.

      div.row-item(class={fail: fail.loginpassword})
        input.col-md-5(type='password', name='loginpassword', placeholder='Password')
        span.description.failtext
          if (values.loginpassword === '')
            | A password must be supplied to log in.
          else
            | If you have forgotten your password, you can <a href="/reset">reset it here</a>

      div.row-item(style="margin-bottom:0")
        h5
          a(href='/reset') Forgot your password?

      div.row-item
        input.btn.btn-success.col-md-3(type='submit', value='Sign in')
