extends ../layouts/base

block defines
  - title = 'OpenMRS ID - Reset Password';
  - name = 'reset-public';
  - headline = 'Forgot your username or password?';
  - sidebar = [];
  - showSidebar = true;
  - fail = fail || {};
  - failReason = failReason || {};
  - values = values || {};


block content
  div.password-reset-form
    div.panel.panel-default
      div.panel-body
        form#reset-form(action='/reset', method='post')
          div.row Forgot your password? Enter your username or e-mail address and we will e-mail you instructions to reset it.
          div.row(class={fail: fail.resetCredential})
            input.col-md-5(type='text', name='resetCredential',
                  placeholder='Username or Email', size='32', autofocus='')
          div.row
            input.btn.btn-success.col-md-3(type='submit', value='Send me the email')
