extends ../layouts/base

block defines
  - title = 'OpenMRS ID - Reset Password';
  - name = 'reset-public';
  - headline = 'Forgot your username or password?';
  - sidebar = [];
  - showSidebar = true;


block content
  div.panel
    form.validate#reset-form(action='/reset', method='post')
      div.row-item Forgot your password? Enter your username or e-mail address and we will e-mail you instructions to reset it.
      div.row-item.form-group
        div.input-wrapper.col-md-5
          input.required#reset(name='resetCredential',
                placeholder='Username or Email', autofocus='')
          label.error Forgot?
      div.row-item.form-group
        div.input-wrapper.col-md-3
          input.btn.btn-success(type='submit', value='Send me the email')
