extends ../layouts/base.pug

block defines
  - title = 'OpenMRS ID - Reset Password';
  - name = 'reset-private';
  - headline = 'Reset Your Password';
  - sidebar = ['id-whatis'];
  - showSidebar = true

block content
  .panel
    form.validate(action='#', method='post')
      .row-item
        p Enter a new password for <strong>#{username}</strong> in the field below.

      .row-item.form-group
        .input-wrapper.col-md-5
          input.required#password(type='password', name='newPassword',
                placeholder='New Password', autofocus='')
          label.error Forgot?
        span.description Password must be between 8 and 100 characters.

      .row-item.form-group
        .input-wrapper.col-md-5
          input.required#cpassword(type='password', name='confirmPassword',
                placeholder='Confirm Password')
          label.error Forgot?

      .row-item.form-group
        .input-wrapper.col-md-3
          input.btn.btn-success(type='submit', value='Reset Password »')
