extends ../layouts/base.pug

block defines
  - title = 'OpenMRS ID - ' + user.displayName;
  - name = 'root';
  - headline = 'Welcome to the OpenMRS Community!';
  - if (_.includes(user.groups, 'dashboard-administrators')) {
  -   sidebar = ['crowd'];
  - }
  - showNavbar = true;

block content
  div.jumbotron(style='background:none; border-radius:0; border-bottom-style:solid; text-align:center')
    p We're glad you joined us! First, you should start making connections in the community by letting others know who you are on <a href='https://talk.openmrs.org'>OpenMRS Talk</a>
    a.btn.btn-success(href='https://talk.openmrs.org/t/welcome-please-introduce-yourself/32/') Start making connections

  h3 After that, here are some other places you can use your OpenMRS ID:
  br
  ol(type='disc')
    li <a href='http://modules.openmrs.org'>Modules: </a> Extend OpenMRS in limitless ways, share your contributions.
    li <a href='https://wiki.openmrs.org/users/editmyprofile.action'>Wiki: </a>Create your own personal space, and your profile.
    li <a href='http://talk.openmrs.org'>Talk: </a> This is the primary communication medium for the OpenMRS community.
    li <a href='https://issues.openmrs.org'>Issues: </a> Report bugs, Suggest Improvements, Find a way to contribute!
