extends ../layouts/base.pug

block defines
  - name = 'signedup';
  - title = 'Welcome';
  - showSidebar = false;

block content
  div.panel
    h3.
      Thanks and welcome to the OpenMRS Community!
      Before you can use your OpenMRS ID across our services,
      we need to verify your email address.
      We've sent an email to you with instructions to complete the signup process.

