<% style('/resource/stylesheets/dialog.css') %>


<% include page/top %>

<% include header/top %>
    <% include login-menu %>
<% include header/bottom %>    

<% include headline %>
<% include flash-alerts %>


<div id="content" class="container">
  <div id="main">
  
  <%- body %>
  </div>
  
</div>

<% include page/bottom %>
