<div id="headline" class="<% if (showHeadlineAvatar) { %> with-avatar<% } %>">
  <div class="container">
    <h1 class="col-md-8 col-md-offset-1"><%- headline %>
  <% if (connected && showHeadlineAvatar) { %>
    <img src="https://wiki.openmrs.org/rest/cas/1.0/avatar/server/<%= mailHash %>?s=51" alt="<%= user[conf.user.displayname] %>">
    <% } %>
    </h1>
  </div>
</div>
