<div id="login-menu" class="col-md-5">

  <% if (connected) { %>
    <div style="text-align:right;">
      <div class="col-md-4">
        <h2>Welcome, <%= user.displayName %></h2>
        <a href="/disconnect?destination=<%=encodeURIComponent(url || '')%>">
        Log Out</a>
      </div>
      <div class="col-md-1">
        <img src="https://wiki.openmrs.org/rest/cas/1.0/avatar/server/<%= mailHash %>?s=51" alt="<%= user.displayName %>">
      </div>
    </div>
  <% } %>
</div>
