<div id="login-menu" class="col-md-5">

  <% if (connected) { %>
        <h1>Welcome, <%= user.displayName %></h1>
        <a href="/profile">View Your Profile</a>
        <a href="/disconnect?destination=<%=encodeURIComponent(url || '')%>">
          Log Out</a>
  <% } %>
</div>
