<div id="login-menu" class="col-sm-2">
  <% if (!connected) { %>
    <button class="btn btn-primary" data-toggle="popover" data-placement="bottom" data-content-id="login-form">Log In</button>

    <script type="text/html" data-target="popover" data-content-id="login-form">
    <form action="/login" method="post">
      <div class="form-group">
        <label for="loginusername">OpenMRS ID</label>
        <input class="use-placeholder" type="text" placeholder="OpenMRS ID" name="loginusername">
      </div>
      <div class="form-group">
        <label for="loginpassword">Password</label>
        <input class="use-placeholder" type="password" placeholder="Password" name="loginpassword">
      </div>
      <div class="form-group">
        <span class="failtext">Authentication failed.
        <a href="/reset">Password Recovery &#187;</a></span>
      </div>
      <input type="submit" class="btn btn-primary btn-sm" value="Log In &#187;">
    </form>
    </script>
    <div class="popover-direction" data-popid="login"></div>
  <% } %>

  <% if (connected) { %>
    <div class="dropdown">
      <a href="#" data-toggle="dropdown" class="btn btn-primary"><%= user.displayName %>  </a>
      <a href="#" data-toggle="dropdown"> <img src="https://wiki.openmrs.org/rest/cas/1.0/avatar/server/<%= mailHash %>?s=51" alt="<%= user.displayName %>" style="padding: 5px"> </a> 
      <ul class="dropdown-menu">
        <li><a href="/profile">View Your Profile</a></li>
        <li><a href="/disconnect">Log Out</a></li>
      </ul>
    </div>
  <% } %>
</div>
