<div id="login-menu" class="col-sm-2">

  <% if (connected) { %>
    <div class="dropdown">
      <a href="#" data-toggle="dropdown" class="btn btn-primary"><%= user.displayName %>  </a>
      <a href="#" data-toggle="dropdown"> <img src="https://wiki.openmrs.org/rest/cas/1.0/avatar/server/<%= mailHash %>?s=51" alt="<%= user.displayName %>" style="padding: 5px"> </a>
      <ul class="dropdown-menu">
        <li><a href="/profile">View Your Profile</a></li>
        <li><a href="/disconnect?destination=<%=encodeURIComponent(url || '')%>">
          Log Out</a></li>
      </ul>
    </div>
  <% } %>
</div>
