<div id="login-menu"> 
  <% if (!connected) { %>
    <a href="/login" class="button button-border popover-trigger" data-popid="login">Log In</a>
    <form action="/login" method="post" class="popover" data-popid="login">
      <input class="use-placeholder" type="text" placeholder="OpenMRS ID" name="loginusername">
      <input class="use-placeholder" type="password" placeholder="Password" name="loginpassword">
      <input type="submit" value="Log In &#187;">
        <span class="failtext">Authentication failed.</span>
        <span><a href="/reset">Password Recovery &#187;</a></span>
    </form>
    <div class="popover-direction" data-popid="login"></div>
  <% } %>
  
  <% if (connected) { %>
    <span class="button-dropdown" data-buttons="dropdown">

      <a href="#" class="button button-border"><%= user[conf.user.displayname] %></a>

      <ul class="button-dropdown-menu-below">
        <li><a href="/profile">View Your Profile</a></li>
        <li><a href="/disconnect">Log Out</a></li>
      </ul>

    </span>
  <% } %>
</div>