<% style('/bower_components/bootstrap/dist/css/bootstrap.min.css') %>
<% script('/bower_components/bootstrap/dist/js/bootstrap.min.js') %>

<% script('/globalnav/js/app-optimized.js', {id: 'globalnav-script'}) %>
<% style('/resource/stylesheets/style.css') %>
<% script('/resource/scripts/omrsid.js') %>

<% include page/top %>

<% include header/top %>
		<% include login-menu %>
<% include header/bottom %>


<% include user-nav %>
<% include headline %>
<% include flash-alerts %>


<div id="content" class="content container">
	<div id="main" class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-0 col-xs-10 col-xs-offset-1">

	<%- body %>
	</div>

	<% if (showSidebar == true) { %>
	<div id="sidebar" class="col-md-offset-1 col-md-10 col-sm-10 col-sm-offset-0 col-xs-10 col-xs-offset-1">
		<%- partial('../sidebar', sidebar.concat(defaultSidebar)) %>
	</div>
	<% } %>

</div>

<% include page/bottom %>
