<% style('/resource/bootstrap/css/bootstrap.min.css') %>
<% script('/resource/bootstrap/js/bootstrap.min.js') %>

<% script('/globalnav/js/app-optimized.js', {id: 'globalnav-script'}) %>
<% style('/resource/stylesheets/style.css') %>

<% include page/top %>

<% include header/top %>
		<% include login-menu %>
<% include header/bottom %>		


<% include user-nav %>
<% include headline %>
<% include flash-alerts %>


<div id="content" class="container">
	<div id="main" class="col-md-9">
	
	<%- body %>
	</div>
	
	<% if (showSidebar == true) { %>
	<div id="sidebar" class="col-md-3">
		<%- partial('sidebar', sidebar.concat(defaultSidebar)) %>
		<div id="about"><%- aboutHTML %></div>
	</div>
	<% } %>
	
</div>

<% include page/bottom %>
