<ul id="services">
  <li class="teal"><a href="http://wiki.openmrs.org"><span>Wiki</span></a></li>
  <li class="yellow"><a href="http://tickets.openmrs.org"><span>Tickets</span></a></li>
  <li class="blue"><a href="http://source.openmrs.org"><span>Source</span></a></li>
  <li class="red" id="moreContainer">
    <span>More...</span>
    <ul id="more">
      <a href="http://answers.openmrs.org"><li>Answers</li></a>
      <a href="http://ci.openmrs.org"><li>CI Testing</li></a>
      <a href="http://modules.openmrs.org"><li>Modules</li></a>
      <a href="http://go.openmrs.org/mailinglists"><li>Groups</li></a>
      <a href="http://svn.openmrs.org"><li>SVN</li></a>
    </ul>
  </li>
</ul>