<ol class="breadcrumb">
  <li><a href="https://id.openmrs.org/edit/profile">My Profile</a></li>
  <li><a href="https://id.openmrs.org/mailinglists">Mailing List</a></li>
  <li><a href="https://id.openmrs.org/password">Edit Password</a></li>
  <li class="active">Sign Up</li>
</ol>
