<ul id="user-nav">
  <% var list = navLinks; for (var i = 0; i < list.length; i++) { %>  
    <% var same = (name == list[i].viewName) ? true : false %>
    <a<% if (same) { %> class="active"<% } %> href="<%= (same) ? "#" : list[i].url %>">
      <li><%= list[i].name %></li>
    </a>
  <% } %>
</ul>