<div class="container">
<div class="col-md-offset-1 col-md-10">
  <div class="btn-group btn-group-justified" role="group" style="margin:auto;margin-bottom:30px; margin-top:20px">
    <% var list = navLinks; for (var i = 0; i < list.length; i++) { %>
      <% var same = (name == list[i].viewName) ? true : false %>
      <a<% if (same) { %> class="btn btn-primary"<% } else {%> class="btn btn-default" <%} %> href="<%= (same) ? "#" : list[i].url %>"  type="button"><%= list[i].name %></a>
    <% } %>
  </div>
</div>
</div>
