<% name = 'login' %>
<% title = 'OpenMRS ID - Login' %>
<% headline = 'Sign In' %>
<% sidebar.unshift('sidebar/id-whatis') %>

<form action="/login" method="post">
	<p><em></em></p>
	<input type="hidden" name="destination" id="redirect-to">
	
  <span>Don't have an OpenMRS ID yet? <a href="/signup">Sign up.</a></span>
  <br><br>
  
  <div class="row col-md-12">
  <div class="panel panel-default panel-body">
	<div class="field<% if (fail.loginusername) {%> fail<% } %>">
		<input type="text" name="loginusername" placeholder="OpenMRS ID" <% if (failed) { %>value="<%= values.loginusername %>"<% } %> autofocus>
		<span class="description failtext">
			<% if (values.loginusername == '') { %>A username must be supplied to log in.<% }
			else { %>Make sure you are entering your OpenMRS ID, not your email address.<% } %>
		</span>
	</div>
	
	<div class="field<% if (fail.loginpassword) {%> fail<% } %>">
		<input type="password" name="loginpassword" placeholder="Password">
		<span class="description failtext">
			<% if (values.loginpassword == '') { %>A password must be supplied to log in.<% } %>
		</span>
	</div>
  <br>
  <a href="/reset" style="padding-top:-30px">Forgot your password?</a>
  <br><br>
	
	<div class="field">
		<input class="btn btn-success" type="submit" value="Sign In">
	</div>
  </div>
  </div>
</form>
