<% name = 'login' %>
<% title = 'OpenMRS ID - Login' %>
<% headline = 'Sign in <small>Don&#39;t have an OpenMRS ID yet? <a href="/signup">Sign up</a>.</small>' %>
<% sidebar.unshift('sidebar/id-whatis') %>

<div class="panel panel-default">
  <div class="panel-body">
    <form action="/login" method="post">
      <p><em></em></p>
      <input type="hidden" name="destination" id="redirect-to">

      <div class="field<% if (fail.loginusername) {%> fail<% } %>">
        <input type="text" name="loginusername" placeholder="OpenMRS ID" <% if (failed) { %>value="<%= values.loginusername %>"<% } %> autofocus>
        <span class="description failtext">
          <% if (values.loginusername == '') { %>A username must be supplied to log in.<% }
          else { %>Make sure you are entering your OpenMRS ID, not your email address.<% } %>
        </span>
      </div>

      <div class="field<% if (fail.loginpassword) {%> fail<% } %>">
        <input type="password" name="loginpassword" placeholder="Password">
        <span class="description failtext">
          <% if (values.loginpassword == '') { %>A password must be supplied to log in.<% }
          else { %>If you have forgotten your password, you can <a href="/reset">reset it here</a>.<% } %>
        </span>
      </div>
      
      <div class="forgotPass">
        <h5><a href="/reset">Forgot your password?</a></h5>
      </div>

      <div class="field">
        <input class="btn btn-success" type="submit" value="Sign in">
      </div>
    </form>
  </div>
</div>
