//- modified base.jade, used for dialog
include ../mixins/flashes

block defines
  - title = 'Page Title';
  - headline = 'headline';

doctype html
html
  head
    block head
      meta(http-equiv='Content-Type', content='text/html;', charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title= title || 'Title'

      link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/resource/stylesheets/style.css')
      script(src='/bower_components/jquery/dist/jquery.min.js')
      script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
      script(src='/resource/scripts/omrsid.js')
      script#globalnav-script(src='/globalnav/js/app-optimized.js')

      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-16695719-3', 'openmrs.org');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');


  body
    noscript
      h3 JavaScript is required to properly use OpenMRS ID.

    //- header with login-menu
    div#header.clearfix
      div.container
        header.col-md-5.col-md-offset-1
          a(href='/')
            img#logo(src='/resource/images/logo.png', alt='OpenMRS Community')
        div#login-menu.col-sm-2
          if connected
            div.dropdown
              a.btn.btn-primary(href='#', data-toggle='dropdown')= user.displayName
              ul.dropdown-menu
                li
                  a(href='/profile') View Your Profile
                li
                  a(href='/disconnect?destination=' + encodeURIComponent(url || '')) Log Out


    +flashes(flash)

    div#content.container
      div#main.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
        block content

    //- bottom
    div.clear

    div#about!= aboutHTML
