<html>
<head>
<style>body{font-family: Helvetica, sans-serif}</style>
</head>
<body>
	<div id="main">
	<strong>(Test Migration!)</strong>
	<a href="http://id.openmrs.org"><img src="http://id.openmrs.org/resource/images/logo.png" alt="OpenMRS ID"></a>
	<h2>Hello <%= displayName %>,</h2>

	<p>We have implemented several changes in technology used to power your OpenMRS ID, which is used for the tools and resources of the OpenMRS community.</p>
	
	<p>For security reasons, you need to reset your OpenMRS ID password. Please visit this link to do so now:</p>
	
	<p>http://id.openmrs.org/reset/<%= resetId %></p>
	
	<p>If for any reason the above link doesn’t work, go to http://id.openmrs.org/reset and enter your e-mail address or user ID (<%= username %>, <%= email %>).</p>
	
	<p>As a reminder, your OpenMRS ID is used on several sites, including our wiki, JIRA issue tracking system, and others.</p>
	
	<p>If you have any problems resetting your account, please open a support issue and someone will provide assistance. Go to http://go.openmrs.org/helpdesk and be sure to include your contact information.</p>
	
	<p>Thanks,</p>
	<p>OpenMRS Community Infrastructure Team</p>
	</div>
</body>
</html>