<% name = 'error' %>
<% title = 'Page not found! | OpenMRS   ' %>
<% headline = 'Not Found' %>
<h2><%= 'Error 404 - Page not found!' %></h2>
<p>The page you trying to reach does not exist, or has been moved. Please use the menus or the search box to find what you are looking for.</p>
