<% name = 'error' %>
<% title = 'OpenMRS ID - Page Not Found!' %>
<% headline = 'Not Found' %>
<h2><%= 'Error 404 - Page not found!' %></h2>
<p>Oops! The page you are trying to reach does not exist, or has been moved.</p>
