<% name = 'admin' %>
<% title = 'OpenMRS ID - Global Nav Admin' %>
<% headline = 'Global Navigation Admin' %>
<% headAppend = '<link rel="stylesheet" href="/globalnav/admin.css">' %>

<h2>Links</h2>

<form action="" method="post">
<%- partial('../views/param-table', {
	columns: [
		{type: 'name', value: 'Name', name: 'name'},
		{type: 'value', value: 'URL', name: 'url'}
		],
	data: links
}) %>
<input type="submit" value="Save">
</form>