<% name = 'edit-password' %>
<% title = 'OpenMRS ID - Change Password' %>
<% headline = 'Change '+user[conf.user.displayname]+"'s Password" %>

<form action="/edit/password" method="post" class="force label">
	<div class="field<% if (fail.currentpassword) { %> fail<% } %>">
		<label>Current Password</label>
		<input type="password" name="currentpassword" placeholder="Current Password">
		<span class="description">
			<span class="failtext"><% if (failReason.currentpassword) { %><%= failReason.currentpassword %><% } else { %>This is not your current password.<% } %> </span>
			Enter your OpenMRS ID password for verification.
		</span>
	</div>
	
	<div class="field<% if (fail.newpassword) { %> fail<% } %>">
		<label>New Password</label>
		<input type="password" name="newpassword" placeholder="New Password">
		<span class="description">
			<span class="failtext"><% if (failReason.newpassword) { %><%= failReason.newpassword %><% } else { %>Please enter a valid password.<% } %> </span>
			Passwords must be at least 8 characters in length.
		</span>
	</div>
	
	<div class="field<% if (fail.confirmpassword) { %> fail<% } %>">
		<label>Confirm New Password</label>
		<input type="password" name="confirmpassword" placeholder="Confirm Password">
		<span class="description">
			<span class="failtext"><% if (failReason.confirmpassword) { %><%= failReason.currentpassword %><% } else { %>Passwords do not match.<% } %> </span>
			Retype your new password to confirm.
		</span>
	</div>
	
	<input type="submit" value="Change Password &#187;">
</form>
