<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/globalnav/style.css">
	</head>
	<body id="globalnav-body">
		<div id="globalnav">
			<% for (i in links) { %>
			<a target="_parent"<% if (links[i] == activeLink) { %> href="" class="yourhere"<% } else { %> href="<%= links[i].url %>"<% } %>><%= links[i].name %></a>
			<% } %>
			<a id="globalnav-hide" href="#">hide</a></div>
		</div>
	</body>
</html>
