<% title = 'OpenMRS ID - '+user.displayName %>
<% name = 'root' %>
<% if (user.groups.indexOf('dashboard-administrators') > -1) { sidebar = ['./../views/sidebar/crowd'] } %>
<div class="jumbotron text-center" style="background: #fffbf2; padding: 20px 0px 0px 0px">
  <h1 style="font-size: 35px">Welcome to the OpenMRS Community!</h1>
</div>
<div class="text-center">
  <h2> We're glad you joined us! First, you should start making connections in the community by letting others know who you are, on the <a href="#"> Discourse page </a> on OpenMRS Talk. </h2>
  <a href="#"><div class="btn btn-primary btn-lg" id="button" style="margin: 15px 0px 15px 0px">Start making connections</div></a>
</div>
<hr>
<p>
  After that, here are some other places you can use your OpenMRS ID:
  <ul>
    <li><a href="https://modules.openmrs.org/">Modules</a>:</li>
    <li><a href="https://wiki.openmrs.org/">Wiki</a>: Create your own personal space, and your profile</li>
    <li><a href="https://wiki.openmrs.org/display/RES/Mailing+Lists">Lists</a>: Stay connected to the community</li>
    <li><a href="https://wiki.openmrs.org/display/ask/Home">Ask</a>:</li>
    <li><a href="https://talk.openmrs.org/">Talk</a>:</li>
    <li><a href="https://issues.openmrs.org/secure/Dashboard.jspa">Issues</a>:</li>
    <li><a href="https://github.com/openmrs/">Code</a>:</li>
  </ul>
</p>
<!--<p>Don't regard the ID Dashboard as passé just yet! As the OpenMRS Community moves forward, you'll be able to control more and more of your Community Profile from here. Until then, why not <a href="#" class="highlight-banners">head over to another Community Application?</a></p>-->
