<% title = 'OpenMRS ID - '+user.displayName %>
<% name = 'root' %>
<% headline = 'Welcome to the Dashboard, '+user.displayName+'.' %>
<% if (user.groups.indexOf('dashboard-administrators') > -1) { sidebar = ['./../views/sidebar/crowd'] } %>

<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

<div class = "jumbotron">
We're glad you joined us! First, you should start making connections in the community by letting others know who you are, on the <a href = "#"> Discourse page </a> on OpenMRS Talk. <br>
  
<div class = "btn btn-primary" id = "button"> <a href= "#"> Start making connections </a> </div>
 
</div>

<p class="clear"><h2>Services</h2>
With your OpenMRS ID, you can log in to use the services below: 

<div class = "jumbotron">
<ul>

<div class="box-container">

	<li> <h2><a href="#">Modules:</a></h2> </li>
	
</div>

<div class="box-container">

	<li> <h2><a href="#"> Wiki:</a> Create your own personal space and your profile</h2> </li>
		
</div>

<div class="box-container">

	<li> <h2><a href="#">Lists:</a> Stay connected to the community </h2> </li>
		
</div>

<div class="box-container">

	<li> <h2><a href="#">Ask:</a></h2> </li>
	
</div>

<div class="box-container">

	<li> <h2><a href="#">Talk:</a></h2> </li>
		
</div>

<div class="box-container">

	<li> <h2><a href="#">Issues: </a></h2> </li>
	
</div>

<div class="box-container">

	<li> <h2><a href="#">code: </a></h2> </li>
	
</div>

<!--<p>Don't regard the ID Dashboard as passé just yet! As the OpenMRS Community moves forward, you'll be able to control more and more of your Community Profile from here. Until then, why not <a href="#" class="highlight-banners">head over to another Community Application?</a></p>-->
