.panel
  h1 #{user.username} <small>username</small>

  form(action='/profile', method='post')
    div.form-group(class={fail : (fail.firstName || fail.lastName)})
      label Name
      .row
        .col-md-6.left
          input(type='text', name='firstName',
            placeholder='Given Name', value=(failed) ? values.firstName : user.firstName)

        .col-md-6.right
          input(type='text', name='lastName',
            placeholder='Surname', value=(failed) ? values.lastName : user.lastName)

      span.help-block
        span.failtext Both a first and last name are required.
        | Your name identifies you across the OpenMRS Community.

    .row
      .col-md-12(style="padding:0")
        input.btn.btn-success(type='submit', pvalue='Update Profile »')


  hr

  h2 <a href="#" id="editPasswordToggle">Need to change your password?</a>
  include edit-password
