form#editPassword.validate(action='/password', method='post')
  div.form-group.row-item
    div.input-wrapper
      input#currentpassword.required(type='password', name='currentpassword',
            placeholder='Current Password')
      label.error

    span.col-md-12.description.help-block
      | Enter your OpenMRS ID password for verification.

  div.form-group.row-item
    div.input-wrapper
      input#newpassword.required(type='password', name='newpassword',
            placeholder='New Password')
      label.error

    span.col-md-12.description.help-block
      | Passwords must be at least 8 characters in length.

  div.form-group.row-item
    div.input-wrapper
      input#confirmpassword.required(type='password', name='confirmpassword',
            placeholder='Confirm Password')
      label.error

    span.col-md-12.description.help-block
      | Retype your new password to confirm.

  .form-group.row-item
    input.btn.btn-success.pull-right(type='submit', value='Change Password »')
