//- TODO fix the hide logic of description
form#editPassword.form-horizontal(action='/password', method='post')
  div.form-group(class={fail : fail.currentpassword})
    label.col-md-6.control-label(for='currentpassword') Current Password
    .col-md-6
      input(type='password', name='currentpassword', placeholder='Current Password')

    span.col-md-12.description.help-block
      span.failtext
        if (failReason.currentpassword)
          = failReason.currentpassword
        else
          | This is not your current password.
      | Enter your OpenMRS ID password for verification.

  div.form-group(class={fail : fail.newpassword})
    label.col-md-6.control-label(for='newpassword') New Password
    .col-md-6
      input(type='password', name='newpassword', placeholder='New Password')
    span.col-md-12.description.help-block
      span.failtext
        if (failReason.newpassword)
          = failReason.newpassword
        else
          | Please enter a valid password.
      | Passwords must be at least 8 characters in length.

  div.form-group(class={fail: fail.confirmpassword})

    label.col-md-6.control-label(for='confirmpassword') Confirm New Password
    .col-md-6
      input(type='password', name='confirmpassword', placeholder='Confirm Password')
    span.col-md-12.description.help-block
      span.failtext
        if failReason.confirmpassword
          = failReason.confirmpassword
        else
          | Passwords do not match.
      | Retype your new password to confirm.

  .form-group
    .col-md-12
      input.btn.btn-success.pull-right(type='submit', value='Change Password »')
