mixin email-item(m)
  h3.email-address= m.email
    if (m.primary)
      small Primary Email Address
    if (m.notVerified)
      small Needs Verification

  if (!m.primary)
    a(href='/profile/email/delete/' + encodeURIComponent(m.email))
      span.text-danger Delete

  if m.notVerified
    span.divide= '|'
    a(href='/profile/email/resend/' + m.id) Resend Email Verification
  else if (!m.primary)
    span.divide= '|'
    a(href='/profile/email/primary/' + encodeURIComponent(m.email))
      span.text-primary Make Primary

.panel
  h1 My Email Address(es)
  p Your email address is used for OpenMRS Community Applications and password resetting. Only the primary one would be used accross all the apps and to show your avatar(via Gravatar).

  ul.email-selector.list-group.col-md-12
    each m in emails
      li
        +email-item(m)

  h2
    a#addEmailToggle(href='#') Add Another...

  if (1 === emails.length)
    p Adding multiple email addresses to your account is recommended, especially if your openmrs.org email address is your primary email address. This allows you to reset your password from multiple email addresses

  form#addEmail.validate(action='/profile/email', method='post')
    .form-group.row-item
      .input-wrapper
        input#email.required(type='text', name='newEmail',
            placeholder='New Email')
        label.error
    .form-group.row-item
      input.btn.btn-success.pull-right(type='submit', value='Add »')
