extends ../../layouts/base

block defines
  - title = 'OpenMRS ID - Your Profile';
  - name = 'edit-profile';
  - headline = user.displayName + '\'s Profile';
  - sidebar = ['editprofile-avatar'];
  - fail = fail || {};
  - failReason = failReason || {};
  - values = values || {};

append head
  link(rel='stylesheet', href='/resource/stylesheets/profile/profile.css')

block content
  .col-md-12.welcome-message
    .col-md-5
      h2 Welcome to the OpenMRS Community!
      p We're so glad you've joined us. Here are two easy ways to get started and let others know who you are.
    .col-md-7
      ol
        li <a href="#">Edit your Wiki Profile</a> so we can learn more about you.
        li <a href="#">Create your own Personal Space</a> on the Wiki.
      input.btn.btn-success(type='submit', value="Thanks, I've done these")
      input.btn.btn-success(type='submit', value='Remind me later')
  .row
    .col-md-6
      include edit-basic-details

    .col-md-6
      include edit-email
