<div id="header" class="clearfix"> 
  <div class="container">
    <header class="<%= (!connected) ? 'col-md-5' : 'col-md-8' %> col-md-offset-1 col-sm-10 col-xs-10">
      <a href="/">
        <img id="logo" src="/resource/images/logo.png" alt="OpenMRS Community">
      </a>
    </header>
