<div id="header" class="clearfix"> 
  <div class="container">
    <header class="col-sm-10">
      <a href="/">
        <img id="logo" src="/resource/images/logo.png" alt="OpenMRS Community">
      </a>
    </header>