.group-list {
	padding: 0;
}
.group-list > li {
	list-style: none;
	display: block;
	background: #F0ECE4;
	border: solid 1px #E3DED5;
	padding: 4px 12px;
	position: relative;
	margin-bottom: 18px;
}

.group-list h3, .group-list p {
	margin: 12px 0;	
}
.group-list h3 {
	font: bold 18px 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	margin: 6px 0;
}
.group-list h3 a:link {
	text-decoration: underline;
	color: #4d4129;
}
.group-list h3 a:hover {
	color: #b38936;
}
.group-list h3 a:visited {
	color: #4d4129;
}

.group-list .actions {
	position: absolute;
	top: 12px;
	right: 12px;
}
.group-list input[type="submit"] {
	float: right;
}
.group-list input[type="checkbox"] {
	width: 12px;
	margin: 4px 4px 2px 0;
}
.group-list .popover {
	top: 39px;
	max-width: 400px;
}
.group-list .popover-direction {

}
.group-list .popover label {
	width: auto;
	position: static;
	font-size: 12px;
	text-align: left;
	padding: 0;
	font: inherit;
}
.group-list .popover p {
	font-size: 13px;
	margin: 0;
}
.group-list .actions > .status {
	position: absolute;
	background: #FFFBF2;
	line-height: 31px;
	left: 100%;
	margin-left: 24px;
}
.group-list .failtext {
	display: inline !important;
}