@import 'bourbon/bourbon';
@import 'cleanslate';


// THE NAVBAR
// by elliottwilliams
//
// Contents:
//   0. Config variables and mixins.
//   1. Container
//   2. Navbar
//     2.1 Links/buttons
//     2.2 Search bar
//   3. Hidden styles
//   4. Hover styles and animations
//
// To build:
//   # sass -t compressed style.scss:style.css

// 0. Variables and mixins.
$lipSize: 5px; // Amount below the navbar that still qualifies as hovering over it.
$hoverDuration: 1000ms;
$revealFunction: cubic-bezier(.69,.46,.38,1.53);
$revealTime: 200ms;
$concealTime: 100ms;

// 1. The container ("lip") of the navbar.
#globalnav-container {
	width: 100%;
	height: 27px;
    margin: 0;
    padding: 0;
    border: 0;

	display: block !important;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1337;
	
    @include transition(height $concealTime ease-in);
}

// 2. The navbar itself.
#globalnav {
    height: 23px;
    width: 100%;
    margin: 0 0 1px;
    padding: 3px 0 0 34px;

    background: #4a4a4a url('/globalnav/img/omrs-navbar.png') 7px 2px no-repeat;
    box-shadow: inset 0 -2px 3px #333;
    border: none;
    outline: 1px solid #000;
    overflow: hidden;

    font-family: sans-serif;
    text-align: left;
    text-decoration: none;
    
    @include transition(height $concealTime ease-in,
        padding-top $concealTime ease-in);

    // 2.1. Links, buttons, everything.
    a {
        margin: 1px 10px;
        display: inline;
        position: relative;
        color: #fff;
        font-size: 11px;
        text-decoration: none;

        // Site links.
        &:link {
            text-decoration: none;            
        }

        &:hover, &.yourhere, &:active, &:focus {
            padding: 1px 6px 1px 6px;
            margin: 0 4px;
            border-radius: 9px;
            background: #efecea;
            color: #4d4129;
            text-decoration: none;
        }

        &.yourhere, &:active {
            box-shadow: inset 0 1px 1px #999;
        }

        &:focus {
            outline: none;
        }

        // State button.
        &#globalnav-state-button {
            color: #ccc;
            visibility: hidden;
            background: none;
            box-shadow: none;

            &:hover {
                background: none;
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    // 2.2. Search bar
    form {
        margin: 0;
        display: inline;
        float: right;
    }

    #{$all-text-inputs} {
        width: 150px;
        height: 8px;
        padding: 6px 15px 6px 29px;
        margin-right: 40px;
        border: 0 none;
        border-radius: 20px;

        color: #fff;
        background: url('/globalnav/img/search-white.png') no-repeat 10px 3px #444;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
        @include transition(all 100ms ease 0s);
        
        font: 10px sans-serif;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

        &:focus {
            color: #6a6f75;
            background: url('/globalnav/img/search-dark.png') no-repeat 10px 3px #fcfcfc;
            box-shadow: 0 0 10px rgb(81, 203, 238), 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        }
    }

    // Stuff that displays when the navbar is hovered over.
    &:hover {
        #globalnav-state-button {
            visibility: visible;
        }
    }
}


// 3. Hidden styles
#globalnav-container.navbar-hidden {
    height: 3px + $lipSize;
    margin-bottom: -$lipSize;

    #globalnav {
        height: 3px;
        padding-top: 0px;

        a {
            visibility: hidden;

            &.yourhere {
                padding: 10px 6px;
                border-radius: 0;
                visibility: visible;
                color: #efecea;
            }
        }
        form {
            visibility: hidden;
        }
    }
}

// 4. Hover Styles and Animation

#globalnav-container:hover {
    @include transition(height $revealTime $revealFunction);

    #globalnav {
        @include transition(height $revealTime $revealFunction,
                padding-top $revealTime $revealFunction);
    }

    &.navbar-hidden {
        #globalnav {
            background-color: lighten(#4a4a4a, 20%);
            box-shadow: none;
            @include animation(peek $hoverDuration);
        }
    }
}

@include keyframes(peek) {
    0%   { height: 3px; padding-top: 0; }
    100% { height: 6px; padding-top: 1px; }
}
