<div class="panel panel-primary">
  <div class="panel-heading">
  Welcome to the OpenMRS Community!
  </div>
  <div class="panel-body">
    <div class="col-md-5" style="padding: 10px">
      <p>We're so glad you've joined us. Here are three easy ways to get started and let others know who you are.</p>
    </div>
    <div class="col-md-5" style="padding: 10px">
      <ol>
        <li><a href="#">Subscribe to a mailing list</a> to stay connected to the community.</li>
        <li><a href="#">Edit your Wiki Profile</a> so we can learn more about you.</li>
        <li><a href="#">Create your own Personal Space</a> on the Wiki.</li>
      </ol>
      <input type="submit" class="btn btn-primary" value="Thanks, I've done these.">
      <input type="submit" class="btn btn-primary" value="Remind me later">
    </div>
  </div>
</div>