<div class="panel panel-primary">
  <div class="panel-body">

    <div class="col-sm-5" style="padding: 15px">
      <strong>Welcome to the OpenMRS Community!</strong>
      <br />
      <br />
      <p>We're so glad you've joined us. Here are 3 easy ways to get started and let others know who you are.</p>
    </div>
    <div class="col-sm-offset-5" style="padding:15px">
      <ol>
        <li><a href="#">Subscribe to a Mailing List</a> to stay connected to the community.</li>
        <li><a href="#">Edit your Wiki Profile</a> so we can learn more about you.</li>
        <li><a href="#">Create your own Personal Space</a> on the Wiki.</li>
      </ol>
    </div>
    <div style="float:right">
      <input type="submit" class="btn btn-primary new-user-done" value="Thanks, I've done these." style="margin-right:10px">
      <input type="submit" class="btn btn-default new-user-remind-later" value="Remind me later">
    </div>
  </div>
</div>
