<div class="col-md-12 welcome-box">
  <div class="col-md-4">
    <h3>Welcome to the OpenMRS Community!</h3>
    <p>
      We're so glad you've joined us. Here are 3 easy ways to get started
      and let others know who you are.
    </p>
  </div>
  <div class="col-md-8">
    <h3></h3>
    <ol>
      <li><a href="#">Subscribe to a Mailing List</a> to stay connected to the community</li>
      <li><a href="#">Edit your wiki profile</a> so we can learn more about you</li>
      <li><a href="#">Create your own Personal Space</a> on the Wiki</li>
    </ol>
    <ul class="list-inline" style="position:relative;left:20px">
      <li>
        <input type="submit" value="Thanks, I've done these" class="btn btn-success">
      </li>
      <li>
        <input type="submit" value="Remind me later" class="btn btn-success">
      </li>
    </ul>
  </div>
</div>

