@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600|Crimson+Text:400,400italic,700);

body {
	font-family: 'Crimson Text', 'Baskerville', 'Palatino', 'Georgia', serif;
	font-size: 16px;
	background: #FFFBF2;
	margin: 0;
	color: #555555;
	padding-bottom: 80px;
}
a:link, a:visited {
	color: #b38936;
	text-decoration: none;
}
a:hover {
	color: #4d4129;
	text-decoration: underline;
}
/* external-link-icon: disabled, but might be a good idea
#content a[href^="http"]:after, #content a[href^="//"]:after {
	content: "\f08e";
	font: 0.7em FontAwesome;
	white-space: nowrap;
	margin-left: 0.2em;
	color: #BBB;
}
a.no-ext-icon:after, .no-ext-icon a:after {
	content: none !important;
	
}
*/
.container {
	width: 900px;
	margin: 0 auto;
	position: relative;
}
#main {
	width: 615px;
	float: left;
	margin: 0 20px 0 30px;
	position: relative;
	padding-top: 10px;
}
.flash, .flash.info {
	padding: 8px 8px;
	border: 1px solid #ccc;
	border-width: 1px 0 !important;
	background: #ddd;
	background: rgba(204, 204, 204, 0.4);
	
	background: #C6D6E0;
	border-color: #83A6BD;
	
	font: 600 14px 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}
.flash:last-of-type {
	border-bottom-width: 1px;
}
.flash span {
	width: 874px;
	margin: 0 auto;
	display: block;
	padding-left: 26px;
	background: url('/resource/images/flash_message/info.png') no-repeat;
}
.flash.error {
	border: 1px solid #930;
	background: #fcc;
	background: rgba(255, 204, 204, 0.6);
	
	background: #e3c8cd;
	border-color: #c18490;	
}
.flash.error span {
	background: url('/resource/images/flash_message/error.png') no-repeat;
}
.flash.success {
	border: 1px solid #393;
	background: #cfc;
	background: rgba(204, 255, 204, 0.6);
	
	background: #d1e2c7;
	border-color: #9abf84;
}
.flash.success span {
	background: url('/resource/images/flash_message/success.png') no-repeat;
}
.placeholder, .hint {
	color: #ccc;
}


#header {
	margin: 0;
	padding: 8px 4px;
	padding-bottom: 20px;
	display: block;
	height: 92px;
	background: #f7f5f0;
	border-bottom: solid 3px #ebe6dd;
	margin: 0;
}

#headline {
	background: #F0ECE4;
	padding: 20px;
	height: 34px;
	border-bottom: solid 1px #e3ded5;
}

h1 {
	font: bold 24px 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	color: #4d4129;
	margin-bottom: 12px;
}

#headline h1 {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

h2 {
	font: 600 18px 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	color: #4d4129;
	text-shadow: 0 2px 0 #ebe6dd;
	padding: 0;
	margin: 0 0 5px;
}
h2 a:link, h2 a:visited {
	color: #4d4129;
}
#main>h2 {
	margin: 18px 0 6px;
}
#headline img { display: none }
#headline.with-avatar img {
	display: inline;
	width: 51px;
	height: 51px;
	position: absolute;
	background: #FFFBF2;
	padding: 10px 10px;
	top: -18px;
	border: 2px solid #ebe6dd;
	border-bottom: none;
	margin-left: 22px;
}
b, strong {
	line-height: 16px;
}
i[class^="icon-"] { /* for font-awesome */
	margin-right: 3px;
}
button i[class^="icon-"] {
	margin-right: 6px;
	margin-left: -3px;
	pointer-events: none;
}
a:link i[class^="icon-"]  {
	text-decoration: none !important;
}
.status {
	font: 10px 'Lucida Grande', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;	
}

/* FORM FIELDS */

.field {
	display: block;
	clear: both;
	height: 45px;
	position: relative;
}
input, button, textarea {
	display: inline;
	padding: 6px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #CCC;
	background: #F7F7F7;
	width: 178px;
	clear: both;
	transition: background 100ms;
	transition-property: background, box-shadow;
	-webkit-transition: background 100ms;
	-webkit-transition-property: background, box-shadow;
	position: relative;
	z-index: 20;
}
textarea {
	height: 9em;
}
.large input, .large textarea {
	width: 374px;
}
input[type="text"], input[type="password"], textarea {
	float: left;
	margin: 0 0 18px;
	
}
input[type="checkbox"] {
	padding: 0;
}
.two-up input{
	width: 80px !important;
	margin-right: 4px;
	float: left !important;
	clear: none;
}
.two-up.large input {
	width: 178px !important;
}
input:focus, textarea:focus {
	background: #fff;
	border: 1px solid #444;
	outline: none;
	box-shadow: 0 0 8px #bbb;
	-webkit-box-shadow: 0 0 8px #bbb;
	-moz-box-shadow: 0 0 8px #bbb;
}
input[type=submit], button {
	width: auto;
	float: left;
	padding: 5px 12px 6px;
	margin-left: 1px;
	cursor: pointer;
	color: white;
	text-shadow: 0 1px 0 #444;
	border: none;
	border-bottom: 2px solid transparent;
	border-top: 0 solid #ccc;
	box-shadow: 0 1px 1px #777;
	overflow: visible; /*IE Fix*/
}
/* Submit button colors */
input[type=submit], input[type=submit].teal, button, button.teal {background: #269E91; border-bottom-color: #0E6B61;}
input[type=submit].blue, button.blue {background: #5b57a6; border-bottom-color: #2e3192;}
input[type=submit].orange, button.orange {background:	#f26522; border-bottom-color: #c4521a;}
input[type=submit].gold, button.gold {background: #E29B23;border-bottom-color: #C18A18;}
input[type=submit]:active, input[type=submit].active, button:active, button.active {
	outline: none;
	border-top-width: 1px;
	border-bottom-width: 1px;
}
input[type=submit]:focus, button:focus {
	box-shadow: 0 0 8px #777;
	-webkit-box-shadow: 0 0 8px #777;
	-moz-box-shadow: 0 0 8px #777;
}
input[type=submit].mini, button.mini {
	padding: 2px 12px 3px;
	font-size: 0.8em;
	border-bottom-width: 1px;
}
input[type=submit].mini:active, input[type=submit].mini.active, button.mini:active, button.mini.active {
	border-bottom-width: 0;
}
button > span {
	pointer-events: none;
}

label, .labeltext {
	line-height: 27px;
	padding-top: 7px;
	font: 11px sans-serif;
}
label {
	width: 200px;
	position: absolute;
	left: -206px;
	text-align: right;
}
.field.noedit {
	height: 37px;
	margin-top: -4px;
}
.field.noedit p {
	line-height: 27px;
	font: 11px 'Lucida Grande', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
	color: #000;
	width: 178px;
	margin: 6px 0 0 8px;
	float: left;
	white-space: nowrap;
}
.multi-field .field {
	height: auto;
	max-height: 27px;
}
.multi-field .field:last-child {
	height: 45px;
}
.multi-field .field input {
	margin-bottom: 0;
	border-top: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}
.multi-field .field:first-child input {
	border-top: 1px solid #ccc;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}
.multi-field .field:last-child input {
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	margin-bottom: 18px;
}
.multi-field .field:first-child:last-child input {
	border-radius: 4px;
	-webkit-border-radius: 4px;
}
.multi-field .field input:focus {
	border: 1px solid #444;
	height: 12px;
}
.multi-field .field:first-child input:focus {
	height: 13px;
}
.multi-field .next {
	opacity: 0.5;
}
/* Hide the honeypot field */
.field:nth-of-type(4) {
	display: none;
}






/* POPOVER */

.popover {
	display: none;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	position: absolute;
	z-index: 50;
	max-width: 300px;
	
	/* From WordPress */
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #e3e3e3;
}
.popover input {
	float: none;
	margin: 0 0 8px;
	width: 178px;
}
.popover input[type="submit"] {
	float: right;
	width: auto;
}
.popover span, .popover p {
	font: 10px 'Lucida Grande', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}
.popover p {
	padding: 6px 12px;
}
.popover-direction {
	display: none;
	
	position: absolute;
	bottom: -11px;
	right: 45%;
	background: url('/resource/images/nav-indicator.png') no-repeat;
	height: 8px;
	width: 14px;
	z-index: 55;
}
.popover.visible, .popover.force-visible,
.popover.visible ~ .popover-direction, .popover.force-visible ~ .popover-direction {
	display: block;
}
ul.popover {
	margin: 0;
	padding: 0;
}
ul.popover li {
	font-size: 12px;
	white-space: nowrap;
	padding: 3px 12px;
	display: block;
	border-bottom: 1px solid #dedede;
}
ul.popover li:last-child {
	border-bottom: none;
}

ul.popover > a, ul.popover > li {
	padding: 6px 12px;
	display: block;
}
ul.popover > a:first-of-type, ul.popover > li:first-of-type {
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
ul.popover > a:last-of-type, ul.popover > li:last-of-type {
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
ul.popover a:hover {
	background: #f5f5f5;
	background: -moz-linear-gradient(100% 100% 90deg, #f5f5f5, #fff);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5));
/* 	background: cyan; */
}
ul.popover a:active {
	background: #f5f5f5;
	background: -moz-linear-gradient(100% 40% 90deg, #f5f5f5, #fff);
	background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#fff), to(#f5f5f5));
}
.popover .heading {
	text-transform: uppercase;
	border-bottom-style: double; 
}



/* LOGIN MENU */
#login-menu {
	margin: 22px 10px 0 0;
	position: absolute;
	right: 0;
	padding: 6px 12px;
	font: 14px 'Open Sans', 'Helvetica', 'Arial', sans-serif;

	/* From WordPress */
	border: 1px solid #ddd;
	border-color: rgba(0,0,0,.15);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #f5f5f5;
	background: -moz-linear-gradient(100% 100% 90deg, #f5f5f5, #fff);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5));
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.03);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.03);
	box-shadow: 0 1px 1px rgba(0,0,0,.03);
	text-shadow: 0 1px 0 #fff;
}
#login-menu .popover {
	right: 0;
	top: 41px;
	padding: 10px 12px;

}
#login-menu ul.popover {
	padding: 0;
}
#login-menu .fail .failtext {
	display: block !important;
}

/* USER NAV BAR */
#user-nav {
	background: #211b0e;
	height: 20px;
	width: 100%;
	margin: 0;
	font: 11px 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	padding-top: 4px;
	text-align: center;
	padding-left: 0;
}

#user-nav a:link, #user-nav a:visited {
	padding: 12px 0;
	text-decoration: none !important;
	color: #EBE6DD;
}
#user-nav a:hover {
	color: #4D4129;
}
#user-nav li {
	display: inline;
	list-style: none;
	margin: 1px 10px;
	cursor: pointer;
}
#user-nav a:hover li, #user-nav a.active li, #user-nav a:focus li {
	background: #F0ECE4;
	padding: 1px 6px 1px 6px;
	margin: 0 4px;
	border-radius: 9px;
}
#user-nav a.active li {
	background: #fffbf2;
	text-decoration: none;
}
#user-nav a:active li, #user-nav a.active li {
	-webkit-box-shadow: inset 0 1px 1px #b38936;
	-moz-box-shadow: inset 0 1px 1px #b38936;
	box-shadow: inset 0 1px 1px #b38936;
}

#user-nav a.active:hover li {
	background: #fffbf2;
}


#user-nav a.active:link li, #user-nav a.active:visited {
	color: #4d4129 !important;
}


/* HEADER */

#logo {
	float: left;
	font-style: italic;
	margin: 22px 32px 0 10px;
	border: 0;
	width: 243px;
}


#header li {
	list-style: none;
	display: inline;
	margin: 0;
}

#header ul a:link, #header ul a:visited {
	text-decoration: none
}

ul#services {
	background: url(/resource/images/service_shadow.png) repeat-x;
	height: 6px;
	width: 420px;
	float: left;
	padding: 0;
	position: relative;
	z-index: 30;
}

#services > li {
	margin: 0 15px;
	font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif;
	display: block;
	float: left;
	position: relative;
	width: 75px;
	height: 42px;
	transition: height 100ms;
	-webkit-transition: height 100ms;
	-moz-transition: height 100ms;
}
#services > li span {
	position: absolute;
	bottom: -29px;
	height: 46px;
	
	color: #fff;
	font-size: 13px;
	width: 75px;
	text-align: center;
	text-shadow: 0 2px #444;
}
#services > li > a { /* makes links take up entire banner */
	padding-top: 100%;
	display: block;
}
#services > li:hover {
	height: 47px;
}

#services li.teal {background: url(images/service_height.png) repeat-y 0 0}
#services li.yellow {background: url(images/service_height.png) repeat-y -77px 0}
#services li.blue {background: url(images/service_height.png) repeat-y -152px 0}
#services li.red {background: url(images/service_height.png) repeat-y -227px 0}
#services li.silver {background: url(images/service_height.png) repeat-y -302px 0}

#services li.teal span {background: url(/resource/images/service_point.png) no-repeat 0 bottom}
#services li.yellow span {background: url(/resource/images/service_point.png) no-repeat -75px bottom}
#services li.blue span {background: url(/resource/images/service_point.png) no-repeat -150px bottom}
#services li.red span {background: url(/resource/images/service_point.png) no-repeat -225px bottom}
#services li.silver span {background: url(/resource/images/service_point.png) no-repeat -300px bottom}


#services li#moreContainer {
	cursor: pointer;
}
#services li#moreContainer.on ul#more {
	visibility: visible;
	opacity: 1;
}

ul#more {
	padding: 0;
	font-size: 10.5px;
	margin: 4px 10px 24px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 100ms 100ms;
	-webkit-transition: opacity 100ms 100ms;
	-moz-transition: opacity 100ms 100ms;
}

ul#more li {
	background: white;
	display: block;
	padding: 4px 2px 4px 4px;
	margin-bottom: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	overflow: hidden;
}
ul#more li {background: #fff6f1;}
ul#more li:hover {background: #fff;}

ul#more a:link, ul#more a:link visited {
	color: #000;
	text-decoration: none;
}

#header a:link, #header a:visited, ul#menu {
	color: #000;
}
.clear {
	clear: both;
}



/* FIELD LAYOUT */
#main form {
	padding-left: 25px;
}
.field>.description:before {
	content: "\2014";
	position: absolute;
	left: -18px;
	top: -1px;
}
.field>.description {
	display: inline-block;
	background: #FFFBF2;
	visibility: hidden;
	width: 300px;
	position: relative;
	z-index: 25;
	top: 4px;
	margin: 1px 0 0 28px;
	color: #444;
	font-size: 14px;
}
.field.two-up .description {
	left: -4px;
}
.field.large .description {
	width: 195px;
	float: right;
}

#recaptcha_image {
	width: 300px;
	height: 57px;
	border-left: 4px solid #BBB;
	padding-left: 6px;
}
#captcha-options, #captcha-credit {
	font-style: normal;
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', sans-serif;
	margin: 2px 0 5px;
	font-size: 10.5px;
}
#captcha-options a {
	margin-right: 4px;
}
#captcha-options a:last-of-type {
	margin-right: 0;
}
#captcha-credit {
	display: block;
	text-align: right;
	width: 310px;
	font-style: italic;
}

/* FORM VALIDATION */
.valid input, input.valid, .validtext, .noedit.valid p {
	background: #ccffcc;
}
.valid input:focus, input.valid:focus {
	box-shadow: 0 0 8px #9f9;
	-webkit-box-shadow: 0 0 8px #9f9;
	-moz-box-shadow: 0 0 8px #9f9;
}
.validtext {
	display: none;
}
.valid .validtext {
	display: inline;
}

.inprogress input, input.inprogress, .inprogresstext, .noedit.inprogress p {
	background: #C6D6E0;
}
.inprogress input:focus, info.inprogress:focus {
	box-shadow: 0 0 8px #83A6BD;
	-webkit-box-shadow: 0 0 8px #83A6BD;
	-moz-box-shadow: 0 0 8px #83A6BD;
}
.inprogresstext {
	display: none;
}
.inprogress .inprogresstext {
	display: inline;
}
.inprogress .description {
	visibility: visible;
}

.fail input, input.fail, .failtext, .noedit.fail p {
	background: #fcc;
}
.fail input:focus, input.fail:focus {
	box-shadow: 0 0 8px #f99;
	-webkit-box-shadow: 0 0 8px #f99;
	-moz-box-shadow: 0 0 8px #f99;
}
.failtext {
	display: none !important;
}
.fail .failtext {
	display: inline !important;
}
.fail>.description {
	visibility: visible;
}


/* BOXES */
.box {
	display: block;
	margin-bottom: 8px;
	background: #F0ECE4;
	border: solid 1px #e3ded5;
}
.box img {
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}
.box .logo {
	width: 80px;
	float: left;
	margin-top: -8px;
}
.box .sub {
	margin-left: 16px;
	position: relative;
	top: -4px;
	font-size: 14px;
}
.box a.sub:before {
	content: '\279D \ ';
}
#main .box {
	width: 300px;
	height: 61px;
	float: left;
	margin: 0 5px 5px 0;
	padding-top: 6px;
	line-height: 16px;
}


/* SIDEBAR */
#sidebar {
	width: 215px;
	float: left;
	margin-top: 25px;
	font-size: 14px;
}
.sidebarItem {
	padding: 12px 4px;
	margin-bottom: 6px;
	display: block;
	border-bottom: solid 1px #e3ded5;
}
.sidebarItem:last-of-type {
	border-bottom: none;
}
#sidebar ul {
	list-style: none;
	padding-left: 10px;
	position: relative;
}
#sidebar li:before {
	content: "\2014";
	position: absolute;
	left: 10px;
}
#sidebar li {
	margin-bottom: 6px;
	margin-left: 20px;
}
#sidebar p {
	margin-left: 10px;
	color: #444;
	margin-bottom: 0;
}
#sidebar #about {
	text-align: center;
	font: 400 11px 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	color: #bbb;
	margin-bottom: 14px;
}
#sidebar #about a:link, #sidebar #about a:hover, #sidebar #about a:visited {
	color: #bbb;
}

#sidebar .sidebarItem.box {
	font: 0.8em 'Lucida Grande', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
	
	-moz-box-shadow: inset 0 0 6px #E3DED5;
	-webkit-box-shadow: inset 0 0 6px #E3DED5;
	box-shadow: inset 0 0 6px #E3DED5;
}
#sidebar .sidebarItem.box ul {
	padding-left: 0;
}
#sidebar .sidebarItem.box li {
	margin-left: 0;
	background: #FFFBF2;
	margin-left: -5px;
	margin-right: 6px;
	border: solid 1px #E3DED5;
	border-left-color: #f9f3ea;
	border-left-width: 0;
	padding: 4px 6px 4px 9px;
	
	/* box-shadow: inset 3px 0 2px #E3DED5; */
}

#sidebar .sidebarItem.box li:before {
	content: none !important;
}
#sidebar .sidebarItem.box a:link, #sidebar .sidebarItem.box a:visited {
	color: inherit;
	text-decoration: none;
}
#sidebar .sidebarItem.box a.active li,
#sidebar .sidebarItem.box a:active li {
	border-left-width: 1px;
	padding: 4px 6px;
	margin-right: 9px;
	position: relative;
	left: -5px;
	font-weight: bold;
	
	-moz-box-shadow: 0 0 6px #e3ded5;
	-webkit-box-shadow: 0 0 6px #e3ded5;
	box-shadow: 0 0 6px #e3ded5;
}
#sidebar .sidebarItem.box a.active li:after,
#sidebar .sidebarItem.box a:active li:after {
	content: '';
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	top: -6px;
	left: 0px;
	border-left: 5px solid transparent;
	border-bottom: 5px solid #E3DED5;
}

#main.no-sidebar {
	float: none;
	margin: 0 auto;
}