/* CSS RESET */
#globalnav html, #globalnav body, #globalnav div, #globalnav span, #globalnav applet, #globalnav object, #globalnav iframe,
#globalnav h1, #globalnav h2, #globalnav h3, #globalnav h4, #globalnav h5, #globalnav h6, #globalnav p, #globalnav blockquote, #globalnav pre,
#globalnav a, #globalnav abbr, #globalnav acronym, #globalnav address, #globalnav big, #globalnav cite, #globalnav code,
#globalnav del, #globalnav dfn, #globalnav em, #globalnav img, #globalnav ins, #globalnav kbd, #globalnav q, #globalnav s, #globalnav samp,
#globalnav small, #globalnav strike, #globalnav strong, #globalnav sub, #globalnav sup, #globalnav tt, #globalnav var,
#globalnav b, #globalnav u, #globalnav i, #globalnav center,
#globalnav dl, #globalnav dt, #globalnav dd, #globalnav ol, #globalnav ul, #globalnav li,
#globalnav fieldset, #globalnav form, #globalnav label, #globalnav legend,
#globalnav table, #globalnav caption, #globalnav tbody, #globalnav tfoot, #globalnav thead, #globalnav tr, #globalnav th, #globalnav td,
#globalnav article, #globalnav aside, #globalnav canvas, #globalnav details, #globalnav embed, 
#globalnav figure, #globalnav figcaption, #globalnav footer, #globalnav header, #globalnav hgroup, 
#globalnav menu, #globalnav nav, #globalnav output, #globalnav ruby, #globalnav section, #globalnav summary,
#globalnav time, #globalnav mark, #globalnav audio, #globalnav video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
#globalnav article, #globalnav aside, #globalnav details, #globalnav figcaption, #globalnav figure, 
#globalnav footer, #globalnav header, #globalnav hgroup, #globalnav menu, #globalnav nav, section {
	display: block;
}
#globalnav body {
	line-height: 1;
}
#globalnav ol, #globalnav ul {
	list-style: none;
}
#globalnav blockquote, #globalnav q {
	quotes: none;
}
#globalnav blockquote:before, #globalnav blockquote:after,
#globalnav q:before, #globalnav q:after {
	content: '';
	content: none;
}
#globalnav table {
	border-collapse: collapse;
	border-spacing: 0;
}*/


/* NAVBAR */

#globalnav-container {
	width: 100%;
	height: 27px;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
	
	-moz-transition: 200ms height;
	-webkit-transition: 200ms height;
	transition: 200ms height;
}

#globalnav {
    background: #4a4a4a; /* fallback */
    background: #4a4a4a url('/globalnav/omrs-navbar.png') 7px 2px no-repeat;
    
    -moz-box-shadow: inset 0 -2px 3px #333;
    -webkit-box-shadow: inset 0 -2px 3px #333;
    box-shadow: inset 0 -2px 3px #333;
    
    height: 23px;
    width: 100%;
    margin: 0 0 1px;
    padding: 3px 0 0 34px;
    overflow: hidden;
    text-align: left;
    border: none !important;
    outline: 1px solid #000;    
    font-family: sans-serif !important;
    text-decoration: none !important;
    
    -moz-transition: 200ms height, 200ms padding-top;
    -webkit-transition: 200ms height, 200ms padding-top;
    transition: 200ms height, 200ms padding-top;
}



#globalnav a:link {
    text-decoration: none !important;
}

#globalnav a {
    display: inline;
    margin: 1px 10px;
    position: relative;
	color: #fff !important;
    font-size: 11px !important;
    text-decoration: none !important;	
}

#globalnav a:hover, #globalnav a.yourhere, #globalnav a:active, #globalnav a:focus {
    background: #efecea;
    padding: 1px 6px 1px 6px;
    margin: 0 4px;
    border-radius: 9px;
    color: #4d4129 !important;
    text-decoration: none !important;
}

#globalnav a:focus {
	outline: none;
}

#globalnav a.yourhere, #globalnav a:active {
    background: #efecea;
    text-decoration: none !important;
    -webkit-box-shadow: inset 0 1px 1px #999;
    -moz-box-shadow: inset 0 1px 1px #999;
    box-shadow: inset 0 1px 1px #999;
    border-radius: 9px;
    
    /*
-moz-transition: 100ms padding, 100ms border-radius;
    -webkit-transition: 100ms padding, 100ms border-radius;
    transition: 100ms padding, 100ms border-radius;
*/
}

#globalnav a.yourhere:hover, #user-nav a.yourhere:link, #user-nav a.yourhere:visited {
    background: #fffbf2;
    color: #4d4129 !important;
    
}

#globalnav a#globalnav-hide {
	visibility: hidden;
	color: #ccc !important;
	background: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
#globalnav:hover a#globalnav-hide {
	visibility: visible;
}
#globalnav a#globalnav-hide:hover {
	background: none;
	text-decoration: underline !important;
	color: #fff !important;
}

/* Hidden styles */
#globalnav-container.hidden {
	height: 13px;
	margin-bottom: -10px;
}

#globalnav-container.hidden #globalnav {
	height: 3px;
	padding-top: 0;
}

#globalnav-container.hidden #globalnav a {
	visibility: hidden;
}
#globalnav-container.hidden #globalnav a.yourhere {
	visibility: visible;
	color: #efecea;
	border-radius: 0;
	padding: 10px 6px;
}

/* Search field */
#globalnav form {
	display: inline;
	float: right;
	margin: 0;
}


#globalnav input[type="text"] {
    background: url('search-white.png') no-repeat 10px 3px #444;
    border: 0 none;
    font: 10px sans-serif !important;
    color: #fff;
    width: 150px;
    height: 8px;
    
    padding: 6px 15px 6px 29px;
    /* padding: 6px; */
    margin-right: 40px;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    
    -webkit-transition: all 100ms ease 0s;
    -moz-transition: all 100ms ease 0s;
    -o-transition: all 100ms ease 0s;
    transition: all 100ms ease 0s;
}

#globalnav input[type="text"]:focus {	
	background: url(search-dark.png) no-repeat 10px 3px #fcfcfc;
	color: #6a6f75;
	box-shadow: 0 0 10px rgb(81, 203, 238), 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2) inset;    
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

