@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600|Crimson+Text:400,700);

body {
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	background: #FFFBF2;
	margin: 0;
	color: #555555;
	padding-bottom: 30px;
}
a:link, a:visited {
	color: #b38936;
	text-decoration: none;
}
a:hover {
	color: #4d4129;
	text-decoration: underline;
}
.container {
	width: 900px;
	margin: 0 auto;
	position: relative;
}
#main {
	width: 615px;
	float: left;
	margin: 0 20px 0 30px;
	position: relative;
	padding-top: 10px;
}
.flash, .flash.info {
	padding: 8px 8px;
	border: 1px solid #ccc;
	border-width: 1px 0 !important;
	background: #ddd;
	background: rgba(204, 204, 204, 0.4);
	
	background: #C6D6E0;	
	border-color: #83A6BD;
	
	font: 600 14px 'Open Sans', serif;
}
.flash span {
	width: 874px;
	margin: 0 auto;
	display: block;
	padding-left: 26px;
	background: url('/resource/images/flash_message/info.png') no-repeat;
}
.flash.error {
	border: 1px solid #930;
	background: #fcc;
	background: rgba(255, 204, 204, 0.6);
	
	background: #e3c8cd;
	border-color: #c18490;	
}
.flash.error span {
	background: url('/resource/images/flash_message/error.png') no-repeat;
}
.flash.success {
	border: 1px solid #393;
	background: #cfc;
	background: rgba(204, 255, 204, 0.6);
	
	background: #d1e2c7;
	border-color: #9abf84;
}
.flash.success span {
	background: url('/resource/images/flash_message/success.png') no-repeat;
}
.placeholder {
	color: #ccc;
}


#header {
	margin: 0;
	padding: 8px 4px;
	padding-bottom: 20px;
	display: block;
	height: 92px;
	background: #f7f5f0;
	border-bottom: solid 3px #ebe6dd;
	margin: 0;
}

#headline {
	background: #F0ECE4;
	padding: 20px;
	height: 34px;
	border-bottom: solid 1px #e3ded5;
}

h1 {
	font: bold 24px 'Open Sans', sans-serif;
	color: #4d4129;
	margin-bottom: 12px;
}

#headline h1 {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

h2 {
	font: 600 18px 'Open Sans', sans-serif;
	color: #4d4129;
	text-shadow: 0 2px 0 #ebe6dd;
	padding: 0;
	margin: 0 0 5px;
}
h2 a:link, h2 a:visited {
	color: #4d4129;
}
#main>h2 {
	margin: 18px 0 6px;
}
#headline img { display: none }
#headline.with-avatar img {
	display: inline;
	width: 51px;
	height: 51px;
	position: absolute;
	background: #FFFBF2;
	padding: 10px 10px;
	top: -18px;
	border: 2px solid #ebe6dd;
	border-bottom: none;
	margin-left: 22px;
}
i, em {
	font-style: normal;
}
b, strong {
	line-height: 16px;
}

/* LOGIN MENU */
#login-menu {
	margin: 22px 10px 0 0;
	position: absolute;
	right: 0;
	z-index: 5;
	font: 14px 'Open Sans', 'Helvetica', sans-serif;

	/* From WordPress */
	border: 1px solid #ddd;
	border-color: rgba(0,0,0,.15);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #f5f5f5;
	background: -moz-linear-gradient(100% 100% 90deg, #f5f5f5, #fff);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5));
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.03);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.03);
	box-shadow: 0 1px 1px rgba(0,0,0,.03);
	text-shadow: 0 1px 0 #fff;
}
#login-menu a {
	padding: 6px 12px;
	display: block;
}
.popover-direction {
	display: none;
	
	position: absolute;
	bottom: -11px;
	right: 45%;
	background: url('/resource/images/nav-indicator.png') no-repeat;
	height: 8px;
	width: 14px;
	z-index: 55;
}
.popover.visible ~ .popover-direction {
	display: block;
}
#login-menu .popover {
	display: none;
	
	position: absolute;
	right: 0;
	top: 41px;
	padding: 10px 12px;
	z-index: 50;
	
	/* From WordPress */
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #e3e3e3;
}

#login-menu .popover.visible {
	display: block;
}
#login-menu .popover input {
	float: none;
	margin: 0 0 8px;
	width: 178px;
}
#login-menu .popover input[type="submit"] {
	float: right;
	width: auto;
}
#login-menu .popover span {
	font: 10px 'Lucida Grande', sans-serif;
}
#login-menu .fail .failtext {
	display: block !important;
}
#login-menu ul.popover {
	margin: 0;
	padding: 0;
}
#login-menu ul.popover li {
	font-size: 12px;
	white-space: nowrap;
	padding: 3px 12px;
}
#login-menu ul.popover a {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#login-menu ul.popover a:hover {
	background: #f5f5f5;
	background: -moz-linear-gradient(100% 100% 90deg, #f5f5f5, #fff);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5));
}
#login-menu ul.popover a:active {
	background: #f5f5f5;
	background: -moz-linear-gradient(100% 40% 90deg, #f5f5f5, #fff);
	background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#fff), to(#f5f5f5));
}

/* USER NAV BAR */
#user-nav {
	background: #211b0e;
	height: 20px;
	width: 100%;
	margin: 0;
	font: 11px 'Open Sans', sans-serif;
	padding-top: 4px;
	text-align: center;
	padding-left: 0;
}

#user-nav a {
	padding: 12px 0;
}
#user-nav li {
	display: inline;
	list-style: none;
	margin: 1px 10px;
}
#user-nav a:hover li, #user-nav a.active li {
	background: #F0ECE4;
	padding: 1px 6px 1px 6px;
	margin: 0 4px;
	border-radius: 9px;
}
#user-nav a.active li {background: #fffbf2;}
#user-nav a:active li {
	-webkit-box-shadow: inset 0 1px 1px #b38936;
	-moz-box-shadow: inset 0 1px 1px #b38936;
	box-shadow: inset 0 1px 1px #b38936;
}

#user-nav a.active:hover li {
	background: #fffbf2;
}

#user-nav a:last-of-type:after {content: none;}


#user-nav a.active:link li, #user-nav a.active:visited {
	color: #4d4129 !important;
}


/* BOXES */
.box {
	display: block;
	margin-bottom: 8px;
	background: #F0ECE4;
	border: solid 1px #e3ded5;
}
.box img {
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}
.box .logo {
	width: 80px;
	float: left;
	margin-top: -8px;
}
.box .sub {
	margin-left: 16px;
	position: relative;
	top: -4px;
	font-size: 14px;
}
.box a.sub:before {
	content: '\279D \ ';
}
#main .box {
	width: 300px;
	height: 61px;
	float: left;
	margin: 0 5px 5px 0;
	padding-top: 6px;
	line-height: 16px;
}

/* HEADER */

#logo {
	float: left;
	font-style: italic;
	margin: 22px 32px 0 10px;
	border: 0;
	width: 243px;
}


#header li {
	list-style: none;
	display: inline;
	margin: 0;
}

#header ul a:link, #header ul a:visited {
	text-decoration: none
}

ul#services {
	background: url(/resource/images/service_shadow.png) repeat-x;
	height: 6px;
	width: 420px;
	float: left;
	padding: 0;
	position: relative;
	z-index: 30;
}

#services>a>li, #services>li {
	margin: 0 15px;
	font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif;
	display: block;
	float: left;
	position: relative;
	width: 75px;
	height: 42px;
	transition: height 100ms;
	-webkit-transition: height 100ms;
	-moz-transition: height 100ms;
}
#services>a>li span, #services>li span {
	position: absolute;
	bottom: -29px;
	height: 46px;
	
	color: #fff;
	font-size: 13px;
	width: 75px;
	text-align: center;
	text-shadow: 0 2px #444;
}
#services>a>li:hover, #services>li:hover {
	height: 47px;
}

#services li.teal {background: url(images/service_height.png) repeat-y 0 0}
#services li.yellow {background: url(images/service_height.png) repeat-y -77px 0}
#services li.blue {background: url(images/service_height.png) repeat-y -152px 0}
#services li.red {background: url(images/service_height.png) repeat-y -227px 0}
#services li.silver {background: url(images/service_height.png) repeat-y -302px 0}

#services li.teal span {background: url(/resource/images/service_point.png) no-repeat 0 bottom}
#services li.yellow span {background: url(/resource/images/service_point.png) no-repeat -75px bottom}
#services li.blue span {background: url(/resource/images/service_point.png) no-repeat -150px bottom}
#services li.red span {background: url(/resource/images/service_point.png) no-repeat -225px bottom}
#services li.silver span {background: url(/resource/images/service_point.png) no-repeat -300px bottom}


#services li#moreContainer {
	cursor: pointer;
}
#services li#moreContainer.on ul#more {
	visibility: visible;
	opacity: 1;
}

ul#more {
	padding: 0;
	font-size: 10.5px;
	margin: 4px 10px 24px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 100ms 100ms;
	-webkit-transition: opacity 100ms 100ms;
	-moz-transition: opacity 100ms 100ms;
}

ul#more li {
	background: white;
	display: block;
	padding: 4px 2px 4px 4px;
	margin-bottom: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	overflow: hidden;
}
ul#more li {background: #fff6f1;}
ul#more li:hover {background: #fff;}

ul#more a:link, ul#more a:link visited {
	color: #000;
	text-decoration: none;
}

#header a:link, #header a:visited, ul#menu {
	color: #000;
}
.clear {
	clear: both;
}



/* FORM FIELDS */

.field {
	display: block;
	clear: both;
	height: 45px;
	position: relative;
}
input {
	display: inline;
	padding: 6px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #CCC;
	background: #F7F7F7;
	width: 178px;
	clear: both;
	transition: background 100ms;
	transition-property: background, box-shadow;
	-webkit-transition: background 100ms;
	-webkit-transition-property: background, box-shadow;
	position: relative;
	z-index: 20;
}
input[type="text"], input[type="password"] {
	float: left;
	margin: 0 0 18px;
	
}
.two-up input{
	width: 80px !important;
	margin-right: 4px;
	float: left !important;
	clear: none;
}
input:focus {
	background: #fff;
	border: 1px solid #444;
	outline: none;
	box-shadow: 0 0 8px #bbb;
	-webkit-box-shadow: 0 0 8px #bbb;
	-moz-box-shadow: 0 0 8px #bbb;
}
input[type=submit] {
	width: auto;
	float: left;
	background: #269E91;
	background: -webkit-gradient(linear, left top, left bottom, from(#72B5AB), color-stop(0.5, #1EA293), color-stop(0.51, #269E91)) !important;
	background: -webkit-linear-gradient(#72B5AB, #1EA293 50%, #269E91 51%) !important;
	background: -moz-linear-gradient(#72B5AB, #1EA293 50%, #269E91 51%) !important;
	background: -ms-linear-gradient(#72B5AB, #1EA293 50%, #269E91 51%) !important;
	background: -o-linear-gradient(#72B5AB, #1EA293 50%, #269E91 51%) !important;
	background: linear-gradient(#72B5AB, #1EA293 50%, #269E91 51%) !important;
	padding: 5px 12px 6px;
	margin-left: 1px;
	cursor: pointer;
	color: white;
	text-shadow: 0 1px 0 #444;
	border: 1px solid #8DD1C7;
	border-top-color: #ACDCD2;
	-webkit-box-shadow: 0 1px 1px #777;
	-moz-box-shadow: 0 1px 1px #777;
	box-shadow: 0 1px 1px #777;
	overflow: visible; /*IE Fix*/
}
input[type=submit]:after {
	content: "\00AB";
	position: relative;
	left: -20px;
	display: block;
	width: 50px;
	background: cyan;
}
input[type=submit]:active {
	outline: none;
	box-shadow: 0 1px 4px #777, inset 0 1px 4px #444;
	-webkit-box-shadow: 0 1px 4px #777, inset 0 1px 4px #444;
	-moz-box-shadow: 0 1px 4px #777, inset 0 1px 4px #444;
	background: -webkit-gradient(linear, left top, left bottom, from(#72B5AB), color-stop(0.45, #1EA293), color-stop(0.46, #269E91)) !important;
	background: -webkit-linear-gradient(#72B5AB, #1EA293 45%, #269E91 46%) !important;
	background: -moz-linear-gradient(#72B5AB, #1EA293 45%, #269E91 46%) !important;
	background: -ms-linear-gradient(#72B5AB, #1EA293 45%, #269E91 46%) !important;
	background: -o-linear-gradient(#72B5AB, #1EA293 45%, #269E91 46%) !important;
	background: linear-gradient(#72B5AB, #1EA293 45%, #269E91 46%) !important;
}
label {
	width: 200px;
	line-height: 27px;
	position: absolute;
	left: -206px;
	text-align: right;
	padding-top: 7px;
	font: 11px sans-serif;
}
body.no-placeholders label {
	display: inline;
}
.forcelabel label, label.forcelabel {
	display: inline;
}
.field.noedit {
	height: 37px;
	margin-top: -4px;
}
.field.noedit p {
	line-height: 27px;
	font: 11px 'Lucida Grande', 'Helvetica', serif;
	color: #000;
	width: 178px;
	margin: 6px 0 0 8px;
	float: left;
}
.multi-field .field {
	height: auto;
	max-height: 27px;
}
.multi-field .field:last-child {
	height: 45px;
}
.multi-field .field input {
	margin-bottom: 0;
	border-top: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}
.multi-field .field:first-child input {
	border-top: 1px solid #ccc;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}
.multi-field .field:last-child input {
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	margin-bottom: 18px;
}
.multi-field .field:first-child:last-child input {
	border-radius: 4px;
	-webkit-border-radius: 4px;
}
.multi-field .field input:focus {
	border: 1px solid #444;
	height: 12px;
}
.multi-field .field:first-child input:focus {
	height: 13px;
}
.multi-field .next {
	opacity: 0.5;
}


/* FORM VALIDATION */
.valid input, input.valid{
	background: #ccffcc;
}
.valid input:focus, input.valid:focus {
	box-shadow: 0 0 8px #9f9;
	-webkit-box-shadow: 0 0 8px #9f9;
	-moz-box-shadow: 0 0 8px #9f9;
}
.validtext {
	/*color: green;*/
	display: none;
}
.valid .validtext {
	display: inline;
}

.fail input, input.fail {
	background: #fcc;
}
.fail input:focus, input.fail:focus {
	box-shadow: 0 0 8px #f99;
	-webkit-box-shadow: 0 0 8px #f99;
	-moz-box-shadow: 0 0 8px #f99;
}
.failtext {
	color: red !important;
	display: none !important;
}
.fail .failtext {
	display: inline !important;
}
.fail>.description {
	visibility: visible;
}


/* FIELD LAYOUT */
#main form {
	padding-left: 25px;
}
.field>.description:before {
	content: "\2014";
	position: absolute;
	left: -18px;
	top: -1px;
}
.field>.description {
	display: inline-block;
	visibility: hidden;
	width: 300px;
	height: 15px;
	position: relative;
	top: 4px;
	margin: 1px 0 0 28px;
	color: #444;
	font-size: 14px;
}
.field.two-up .description {
	left: -4px;
}

#recaptcha_image {
	width: 300px;
	height: 57px;
	border-left: 4px solid #BBB;
	padding-left: 6px;
}
#captcha-options, #captcha-credit {
	font-style: normal;
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', sans-serif;
	margin: 2px 0 5px;
	font-size: 10.5px;
}
#captcha-options a {
	margin-right: 4px;
}
#captcha-options a:last-of-type {
	margin-right: 0;
}
#captcha-credit {
	display: block;
	text-align: right;
	width: 310px;
	font-style: italic;
}



/* SIDEBAR */
#sidebar {
	width: 215px;
	float: left;
	margin-top: 25px;
	font-size: 14px;
}
.sidebarItem {
	padding: 12px 4px;
	margin-bottom: 6px;
	display: block;
	border-bottom: solid 1px #e3ded5;
}
.sidebarItem:last-of-type {
	border-bottom: none;
}
#sidebar ul {
	list-style: none;
	padding-left: 10px;
	position: relative;
}
#sidebar li:before {
	content: "\2014";
	position: absolute;
	left: 10px;
}
#sidebar li {
	margin-bottom: 6px;
	margin-left: 20px;
}
#sidebar p {
	margin-left: 10px;
	color: #444;
	margin-bottom: 0;
}
#sidebar #about {
	text-align: center;
	font: 400 11px 'Open Sans', sans-serif;
	color: #bbb;
	margin-bottom: 14px;
}
#sidebar #about a:link, #sidebar #about a:hover, #sidebar #about a:visited {
	color: #bbb;
}


/* SIDEBAR USER MENU */
#sidebar .user-menu {
	/* box-shadow: inset 0 0 4px #555555; */
	background: #F0ECE4;
	border-image: initial;
	font: 11px 'Lucida Grande', sans-serif;
	margin: 0;
	/* overflow: hidden; */
	padding-left: 0;
	border: solid 1px #e3ded5;
}
#sidebar .user-menu li {
	list-style: none;
	background: #FFFBF2;
	margin: 0 32px 6px -1px;
	text-align: right;
	/* box-shadow: 0 0 2px #555555; */
	border: solid 1px #e3ded5;
	border-width: 1px 1px 1px 0;
	padding: 4px 6px;
}
#sidebar .user-menu li:before {
	content: "";
}

.user-menu, .user-menu a:link, .user-menu a:visited {
	color: #3E4245;
}
