<% name = 'admin' %>
<% title = 'OpenMRS ID - Administration' %>
<% headline = 'Administration' %>

<h2>Hello!</h2>

<p>The admin interface is still (very much) in development.</p>

<p>For now, look to the sidebar for access to module admin pages. To change global dashboard settings, head to <code>app/conf.js</code> in the app's directory.</p>

<p>Peace,</p>
<p><em>Elliott</em></p>