<h2>Looking for Crowd?</h2>
<p>Atlassian Crowd is still available to administrators, although the ID dashboard has replaced it for end user self-service. It can be accessed at <a href="https://id.openmrs.org/crowd" target="_blank">https://id.openmrs.org/crowd</a>.</p>