<h2>A brief notice:</h2>
<p>ROID is not yet connected to the OpenMRS ID database, so you (probably) do not have an account here. To gain access to the services managed by ROID and the LDAP Server, you will need to sign up <a href="/signup">here</a>.</p>