<h2>Add another email address?</h2>
<p>You can subscribe to a mailing list with a different email account by configuring a secondary email address in your <a href="/profile">OpenMRS ID Profile</a>.
Secondary email addresses can be used to subscribe to mailing lists, and can receive messages from OpenMRS ID.</p>