<h2>What to do with your OpenMRS ID:</h2>
<ul>
	<li>Let us get to know you by creating a <a href="https://wiki.openmrs.org/display/RES/OpenMRS+ID#profile-page" target="_blank">profile page</a> and personal space</li>
	<li>Document OpenMRS on the <a href="https://wiki.openmrs.org" target="_blank">Wiki</a></li>
	<li>File and track issues in <a href="https://tickets.openmrs.org" target="_blank">JIRA</a></li>
	<li>Review source in <a href="https://source.openmrs.org" target="_blank">Fisheye/Crucible</a></li>
	<li>Commit to the <a href="https://wiki.openmrs.org/x/UwAJ" target="_blank">Subversion Code Repository</a></li>
	<li>Contribute to the <a href="https://modules.openmrs.org" target="_blank">Module Repository</a></li>
	<li>Help out fellow community members at <a href="https://answers.openmrs.org" target="_blank">OpenMRS Answers</a></li>
</ul>
<p style="text-align: right; font-style: italic"><a href="http://go.openmrs.org/id" target="_blank">Find out more…</a></p>