<!-- AFAIK, not used anyone as instead we have the root page for logged-in users -->
<h2>What to do with your OpenMRS ID:</h2>
<ul>
	<li>Let us get to know you by creating a <a href="https://wiki.openmrs.org/display/RES/OpenMRS+ID#profile-page" target="_blank">profile page</a> and personal space.</li>
	<li>Help the community document OpenMRS on the <a href="https://wiki.openmrs.org" target="_blank">Wiki</a>.</li>
	<li>File and track issues in <a href="https://tickets.openmrs.org" target="_blank">JIRA</a>.</li>
	<li>Review source code in <a href="https://source.openmrs.org" target="_blank">Fisheye/Crucible</a>.</li>
	<li>Commit code changes to the <a href="https://wiki.openmrs.org/x/UwAJ" target="_blank">Subversion Code Repository</a>.</li>
	<li>Contribute to the <a href="https://modules.openmrs.org" target="_blank">OpenMRS Module Repository</a>.</li>
	<li>Help out fellow community members at <a href="https://answers.openmrs.org" target="_blank">OpenMRS Answers</a>.</li>
</ul>
<p><strong><a href="http://go.openmrs.org/id" target="_blank">Find out more…</strong></p>