<h2>What is OpenMRS ID?</h2>
<p>OpenMRS ID is your key to participating in our open source community. You can use it for most of our tools and services, including those listed in the links at the top of this page.
<a href="http://go.openmrs.org/id"><em>Read more on our wiki.</em></a></p>