<h2>Need help?</h2>
<p>If you're having problems accessing or using the OpenMRS Community, please open a support issue at the <a href="http://go.openmrs.org/helpdesk">Help Desk</a>. <strong>Make sure to include your contact information</strong> so that we can respond to your request.</p>