<h2>Need help?</h2>
<p>If you're having problems accessing or using the OpenMRS Community, please <a href="http://go.openmrs.org/helpdesk">open a support issue in our issue-tracking system</a>. <strong>Make sure to include your contact info</strong> so that we can respond to your request.</p>