<!-- Not currently used, but kept around for the future. Someday, little profile box, someday. -->
<h2>Your OpenMRS ID</h2>
<p>
<%= user[conf.user.displayname] %> (<%= user[conf.user.username] %>)<br>
<%= user[conf.user.email] %>
</p>