<!-- Not currently used, but kept around for the future. Someday, little profile box, someday. -->
<h2>Your OpenMRS ID</h2>
<p>
<%= user.displayName %> (<%= user.username %>)<br>
<%= user.primaryEmail %>
</p>
