<h2>Forgot your username or password?</h2>
<div class="panel panel-danger">
  <div class="panel-body">
     <form action="/reset" method="post" id="reset-form">
     <p>Enter either your OpenMRS ID username or email address and we'll send you an email that includes your username and password reset instructions.</p>
       <div class="field<% if (fail.resetCredential) { %>fail<% } %>">
         <input type="text" name="resetCredential" placeholder="Username or Email" autofocus>
       </div>
     <div class="field">
       <input class="btn btn-primary" type="submit" value="Send me the email">
   </div>
      </form>
</div>
