<% name = 'reset-public' %>
<% title = 'OpenMRS ID - Reset Password' %>
<% headline = 'Forgot your username or password?' %>
<div class="panel panel-default">
  <form action="/reset" method="post" id="reset-form">
    <div class="panel-body">
        <p>Enter either your OpenMRS ID username or email address and we'll send you an email that includes your username and password reset instructions.</p>
        <div class="form-group<% if (fail.resetCredential) { %>fail<% } %>">
          <input type="text" name="resetCredential" placeholder="Username or Email" autofocus>
        </div>
    </div>
    <div class="panel-footer">
        <input class="btn btn-success" type="submit" value="Send me the email">
    </div>
  </form>
</div>