<% name = 'reset-private' %>
<% title = 'OpenMRS ID - Reset Password' %>
<% headline = 'Reset Your Password' %>
<div class="panel panel-default">
  <form action="#" method="post">
    <div class="panel-body">
      <p>Enter a new password for <strong><%= username %></strong> in the field below.</p>

      <div class="form-group<% if (fail.newPassword) { %> fail <% } %>">
        <label>New Password</label>
        <br>
        <input type="password" name="newPassword" placeholder="New Password" autofocus>
        <span class="description">
          <span class="failtext">Please enter a valid password.</span>
          Passwords must be at least 8 characters in length.
        </span>
      </div>

      <div class="form-group<% if (fail.confirmPassword) { %> fail <% } %>">
        <label>Confirm Password</label>
        <br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <span class="description">
          <span class="failtext">Passwords did not match.</span>
          Check for typos!
        </span>
      </div>
    </div>
    <div class="panel-footer">
      <input class="btn btn-success" type="submit" value="Reset Password &#187;">
    </div>
  </form>
</div>