<% name = 'reset-public' %>
<% title = 'OpenMRS ID - Reset Password' %>
<% headline = 'Forgot your username or password?' %>
<div class="password-reset-form">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="/reset" method="post" id="reset-form">
                <p>Forgot your password? Enter your username or e-mail address and we will e-mail you instructions to reset it.</p>
              <!-- TODO: fix validation errors -->   
							<div class="form-group<% if (fail.resetCredential) { %>fail<% } %>">
                <label for="resetCredential">Username or E-mail address</label>
                <input type="text" name="resetCredential" placeholder="Username or Email" size="32" autofocus>
               </div>
        </div>
        <div class="panel-footer">
            <!-- <div class="field"> -->
            <input class="btn btn-success" type="submit" value="Send me the email">
            </form>
            <!-- </div> -->
        </div> <!-- panel-footer -->            
        </div> <!-- panel body --> 
    </div> <!-- panel panel-default  -->
</div> <!-- password-reset-form