@import "../colors";

.welcome-message {
  background: #F0ECE4;
  border: solid 1px #e3ded5;
  padding: 30px;
  margin-bottom: 30px;
  
  ol {
    padding: 0;
    list-style-position: inside;
  }
  li {
    margin-bottom: 10px;
  }
}
