@import "../colors";

.welcome-box {
  border-style: solid;
  border-color: #4d4129;
  border-radius: 5px;
  position: relative; top: -20px;
}

.widget-container {
  border-style: solid;
  border-color: #4d4129;
  border-radius: 5px;
  padding: 10px;
}

.desc {
  font-size: 11px;
  font-family: sans-serif;
  color: #7c7c7c;
}

.email-address {
  font-size: 18px;
  font-family: sans-serif;
}

