<% name = 'edit-profile' %>
<% title = 'OpenMRS ID - Your Profile' %>
<% headline = 'Firstname Lastname\'s Profile' %>

<% style('/resource/stylesheets/profile/profile.css') %>

<div id="container">
  <% include widgets/welcomeBox %>

  <div class="col-md-6" id="left-panel">
    <div class="widget-container">
      <% include widgets/userInfo %>
    </div>
    <br>
    <div class="widget-container">
      <% include widgets/locations %>
    </div>
  </div>

  <div class="col-md-6" id="right-panel">
    <div class="widget-container">
      <% include widgets/email %>
    </div>
    <br>
    <div class="widget-container">
      <% include widgets/apps %>
    </div>
  </div>
</div>

