<% name = 'edit-profile' %>
<% title = 'OpenMRS ID - Your Profile' %>
<% headline = user.displayName+"'s Profile" %>
<% sidebar = ['sidebar/editprofile-avatar'] %>

<% style('/resource/stylesheets/profile/profile.css') %>
<div class="col-md-5">
  <% include details %>
</div>
<div class="col-md-5">
</div>
