<% name = 'edit-profile' %>
<% title = 'OpenMRS ID - Your Profile' %>
<% headline = user.displayName+"'s Profile" %>
<% include profile widgets/notification %>
<% style('/resource/stylesheets/profile/profile.css') %>
<div class="col-md-6">
  <% include profile widgets/temp %>
  <% include profile widgets/temp %>
  <% include profile widgets/temp %>
</div>
<div class="col-md-6">
  <% include profile widgets/temp %>
  <% include profile widgets/temp %>
</div>
