<div class="list-group">
  <div class="list-group-item">

    <h1>My Email Address(es)</h1>
    
    <p>
        Your email address is not displayed to the public. It is only used for OpenMRS Community Applications and Mailing List communications.
    </p>

    <ul class="email-selector list-group col-md-12">
        <%
        var length = emails.length;
        emails.forEach(function(m) {
        %>
        <li>

            <h3 class="email-address"><%= m.email %>
                <% if (m.primary) { %>
                    <small>Primary Email Address</small>
                <% } %>

                <% if (m.notVerified) { %>
                    <small>Needs Verification</small>
                <% } %>
            </h3>
          
            <% if (!m.primary) { %> 
              <a href="/profile-email/delete/<%= encodeURIComponent(m.email) %>">
                  <span class="text-danger">
                      <% if (!m.primary) { %>
                          Delete
                      <% } else { %>
                          Can't Delete Primary Email
                      <% } %>
                  </span>
              </a>
            <% } %>

            <% if (m.notVerified) { %>
                <span class="divide">|</span>
                <a href="/profile-email/resend/<%= m.actionId %>">
                    Resend Email Verification
                </a>
            <% } else { %>

                <% if (!m.primary) { %>
                    <span class="divide">|</span>
                    <a href="/profile-email/primary/<%= encodeURIComponent(m.email) %>">
                        <span class="text-primary">
                            Make Primary
                        </span>
                    </a>
                <% } %>

            <% } %>

        </li>
        <hr>
        <% }) %>

    </ul>
    
    <h2><a href="#" id="addEmailToggle">Add Another...</a></h2>
    
    <% if (length==1) { %>
      <p>
        Adding multiple email addresses to your account is recommended, especially if your openmrs.org email address is your primary email address. This allows you to:
        <ul>
          <li>Subscribe different email addresses to different mailing lists</li>
          <li>Reset your password from multiple email addresses</li>
        </ul>
      </p>
    <% } %>
          
    <form action="/profile-email/add" method="post" class="form-horizontal" id="addEmail">
      <div class="form-group">
        <label for="newEmail" class="control-label col-sm-4">New Email</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" name="newEmail">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="submit" class="btn btn-success pull-right" value="Add &#187;">
        </div>
      </div>
    </form>

  </div>
</div>