<form action="/password" method="post" class="form-horizontal" id="editPassword">
	<div class="form-group<% if (fail.currentpassword) { %> fail<% } %>">
		<label for="currentpassword" class="col-md-6 control-label">Current Password</label>
    <div class="col-md-6">
		  <input type="password" name="currentpassword" placeholder="Current Password" class="form-control">
    </div>
		<span class="col-md-12 description help-block">
			<span class="failtext"><% if (failReason.currentpassword) { %><%= failReason.currentpassword %><% } else { %>This is not your current password.<% } %> </span>
			Enter your OpenMRS ID password for verification.
		</span>
	</div>

	<div class="form-group<% if (fail.newpassword) { %> fail<% } %>">
		<label for="newpassword" class="col-md-6 control-label">New Password</label>
    <div class="col-md-6">
		  <input type="password" name="newpassword" placeholder="New Password" class="form-control">
    </div>
		<span class="col-md-12 description help-block">
			<span class="failtext"><% if (failReason.newpassword) { %><%= failReason.newpassword %><% } else { %>Please enter a valid password.<% } %> </span>
			Passwords must be at least 8 characters in length.
		</span>
	</div>

	<div class="form-group<% if (fail.confirmpassword) { %> fail<% } %>">
		<label for="confirmpassword" class="col-md-6 control-label">Confirm New Password</label>
    <div class="col-md-6">
		  <input type="password" name="confirmpassword" placeholder="Confirm Password" class="form-control">
    </div>
		<span class="col-md-12 description help-block">
			<span class="failtext"><% if (failReason.confirmpassword) { %><%= failReason.currentpassword %><% } else { %>Passwords do not match.<% } %> </span>
			Retype your new password to confirm.
		</span>
	</div>

	<div class="form-group">
    <div class="col-md-12">
		  <input class="btn btn-success pull-right" type="submit" value="Change Password &#187;">
    </div>
	</div>
</form>