<% name = 'edit-profile' %>
<% title = 'OpenMRS ID - Your Profile' %>
<% headline = user.displayName+"'s Profile" %>
<% sidebar = ['sidebar/editprofile-avatar'] %>

<% include widgets/newuser %>

<% style('/resource/stylesheets/profile/profile.css') %>

<div class="col-sm-6">
  <div class="panel panel-default" style="padding:10px; padding-top:0px">
    <% include widgets/profile-info %>
  </div>
  <div class="panel panel-default" style="padding:10px">
    <% include widgets/demo %>
  </div>
  <div class="panel panel-default" style="padding:10px">
    <% include widgets/demo %>
  </div>
</div>
<div class="col-sm-6">
  <div class="panel panel-default" style="padding:10px">
    <% include widgets/demo %>
  </div>
  <div class="panel panel-default" style="padding:10px">
    <% include widgets/demo %>
  </div>
  <div class="panel panel-default" style="padding:10px">
    <% include widgets/demo %>
  </div>
</div>
