<% name = 'edit-profile' %>
<% title = 'OpenMRS ID - Your Profile' %>
<% headline = user.displayName+"'s Profile" %>
<% sidebar = ['sidebar/editprofile-avatar'] %>

<% style('/resource/stylesheets/profile/profile.css') %>

<div class="col-md-12 welcome-message">
    
    <div class="col-md-5">
      <h2>Welcome to the OpenMRS Community!</h2>
      <p>
        We're so glad you've joined us. Here are two easy ways to get started and let others know who you are.
      </p>
    </div>
    
    <div class="col-md-7">
      <ol>      
        <li><a href="#">Edit your Wiki Profile</a> so we can learn more about you.</li>
        <li><a href="#">Create your own Personal Space</a> on the Wiki.</li>
      </ol>
      <input type="submit" class="btn btn-success" value="Thanks, I've done these.">
      <input type="submit" class="btn btn-success" value="Remind me later">
    </div>
    
</div>

<div class="row">

  <div class="col-md-6">

    <% include edit-basic-details %>

  </div>

  <div class="col-md-6">

    <% include edit-email %>

  </div>
  
</div>
