<div class="list-group col-md-6">
    <div class="list-group-item">
        <h1><%= user.username %> <small>username</small></h1>

        <form action="/profile" method="post">
          <div class="form-group<% if (fail.firstName || fail.lastName ) {
                      %> fail<% } %>">
            <label>Name</label>
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="firstName" placeholder="Given Name" value="<%= (failed) ? values.firstName : user.firstName %>" class="form-control">
              </div>
              <div class="col-md-6">
                <input type="text" name="lastName" placeholder="Surname" value="<%= (failed) ? values.lastName : user.lastName %>" class="form-control">
              </div>
            </div>
            <span class="help-block description">
              <span class="failtext">Both a first and last name are required.</span>
              Your name identifies you across the OpenMRS Community.
            </span>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input class="btn btn-success pull-right" type="submit" value="Update Profile &#187;">
            </div>
          </div>
              
        </form>

        <hr>

        <h2>Your profile picture</h2>
        <p>Profile pictures are managed along with your profile on the OpenMRS Wiki. Head over to Confluence to <a href="https://wiki.openmrs.org/users/viewmyprofile.action" target="_blank">edit your Wiki profile</a> or <a href="https://wiki.openmrs.org/users/editmyprofilepicture.action" target="_blank">change your profile picture</a>.</p>

        <hr>

        <h2><a href="#" id="editPasswordToggle">Need to change your password?</a></h2>
        <% include edit-password %>

    </div>
</div>