<form action="/password" method="post" class="form-horizontal" id="change-password-form">
    <div class="form-group<% if (fail.currentpassword) { %> fail has-error<% } %>">
        <label class="col-sm-5 control-label">Current Password</label>
        <div class="col-sm-7">
            <input type="password" name="currentpassword" placeholder="Current Password" class="form-control">
            <span class="description">
                <span class="failtext help-block"><% if (failReason.currentpassword) { %><%= failReason.currentpassword %><% } else { %>This is not your current password.<% } %> </span>
                Enter your OpenMRS ID password for verification.
            </span>
        </div>
    </div>

    <div class="form-group<% if (fail.newpassword) { %> fail has-error<% } %>">
        <label class="col-sm-5 control-label">New Password</label>
        <div class="col-sm-7">
            <input type="password" name="newpassword" placeholder="New Password" class="form-control">
            <span class="description">
                <span class="failtext help-block"><% if (failReason.newpassword) { %><%= failReason.newpassword %><% } else { %>Please enter a valid password.<% } %> </span>
                Passwords must be at least 8 characters in length.
            </span>
        </div>
    </div>

    <div class="form-group<% if (fail.confirmpassword) { %> fail has-error<% } %>">
        <label class="col-sm-5 control-label">Confirm New Password</label>
        <div class="col-sm-7">
            <input type="password" name="confirmpassword" placeholder="Confirm Password" class="form-control">
            <span class="description">
                <span class="failtext"><% if (failReason.confirmpassword) { %><%= failReason.currentpassword %><% } else { %>Passwords do not match.<% } %> </span>
                Retype your new password to confirm.
            </span>
        </div>
    </div>

    <div class="form-group submit-right">
        <input class="btn btn-success" type="submit" value="Change Password &#187;">
    </div>
</form>
