<% name = 'edit-profile' %>
<% title = 'OpenMRS ID - Your Profile' %>
<% headline = user.displayName+"'s Profile" %>
<% sidebar = ['sidebar/editprofile-avatar'] %>

<% style('/resource/stylesheets/profile/profile.css') %>

<div class="col-md-6">

  <form action="/profile" method="post">

      <div class="form-group noedit">
          <label>Username</label>
          <p><%= user.username %></p>
      </div>

      <div class="form-group<% if (fail.firstName || fail.lastName ) {
          %> fail<% } %>">
          <label>Name</label>
          <input type="text" name="firstName" placeholder="Given Name" value="<%= (failed) ? values.firstName : user.firstName %>">
          <input type="text" name="lastName" placeholder="Surname" value="<%= (failed) ? values.lastName : user.lastName %>">
          <span class="description">
              <span class="failtext">Both a first and last name are required.</span>
              Your name identifies you across the OpenMRS Community.
          </span>
      </div>

      <div class="form-group">
          <input class="btn btn-success" type="submit" value="Update Profile &#187;">
      </div>

  </form>
 
</div>

<div class="col-md-6">
  
  <% include edit-email %>
  
</div>